* {
    margin: 0;
}
@font-face {
    font-family: 'Coneria Script';
    src: URL('Fonts/Demo_ConeriaScript.ttf') format('truetype');
  }

nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style-type: none;
}

#txtLogo {
    font-size: 40px;
    font-family: 'Coneria Script';
    text-decoration: none;
    color: #000000;
    text-align: center;
    clear: both;
}

#spnSol {
    margin-right: 0.5%;
    float: left;
}

#bgLogo {
    background-image: linear-gradient(#ffff00, #ff0000);
    border-radius: 100%;
    width: 70px;
    margin: 0 0;
    padding: 20px 7px 0px 0px;
    position: relative;
}

#spnDel {
    font-size: 32px;
    text-align: center;
}

#spnPacifico {
    margin-left: 0.5%;
}

nav ul {
    display: inline-block;
}

nav li {
    display: inline-block;
    background-color: #e9e9e9;
    border-radius: 20px;
    color: #000000;
    padding: 5px 3px;
}

nav li:hover {
    background-color: #000000;
    color: #ffffff;
}

nav li:hover a {
    color: #ffffff;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    border-radius: 20px;
    display: inline-block;
}

#slider {
    width: 100%;
    margin: 0;
    overflow: hidden;
}

#slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 15s infinite;
}

#slider li{
    width: 100%;
    list-style: none;
}

#slider img {
    width: 100%;
}

#slider #img1 {
    height: 60%
}

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
}

footer {
    background-color: #9f0000;
    text-decoration-color: #ffffff;
    color: #ffffff;
}


footer a {
    text-decoration: none;
    color: #ffffff;
}
