* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    background: url(../Images/Banner-bg.jpg) top center;
    background-attachment: fixed;
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.noMarginTopBot{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 1px !important;
    padding-right: 5px !important;
}

input[type=number] {
    -moz-appearance: textfield;
}

.material-icons.md-16 { font-size: 16px; }
.material-icons.md-20 { font-size: 20px; }
.material-icons.md-30 { font-size: 30px; }
.material-icons.md-48 { font-size: 55px; }

a {
    text-decoration: none;
    font-weight: bold;
    color: #b66700;
}

a:hover {
    color: #ff9a15;
}

@font-face {
    font-family: "Coneria Script";
    src: URL("Fonts/Demo_ConeriaScript.ttf");
}

.header {
    align-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header .Logo {
    text-align: center;
    display: flex;
    align-content: center;
    align-items: center;
    width: 100%;
}

.header .Logo .txtLogo {
    font-size: 30px;
    font-family: "Coneria Script";
    text-decoration: none;
    font-weight: normal;
    color: #000000;
    margin: 5px 12px;
    display: flex;
    justify-content: center;
}

@media (min-width: 1100px) {
    .header .Logo .txtLogo {
        justify-content: flex-start;
    }
}

button {
    font-weight: bold;
    color: #000000;
    border-radius: 0px;
    padding: 0.4rem 0;
    text-align: center;
    width: 100%;
    display: flex;
    height: 40px;
}

#subir {
    width: 20px;
}

#btnSubir {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    width: 40px;
    font-size: 23px;
}

#btnSubir:hover {
    background-color: #555555;
}

#btxtMenu {
    margin-top: 5px;
    margin-left: 45%;
}

#imgMenu {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}


.spnSol {
    margin-right: 5px;
    margin-top: 8px;
    color: #fff;
}

.bgLogo {
    background-image: linear-gradient(#ffff00, #ff0000);
    border-radius: 100%;
    width: 48.08px;
    margin: 0 0;
    padding: 5px 4px 0 0;
    max-height: 46px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
}

.spnDel {
    font-size: 30px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 3.7px;
    color: #fff;
}

.spnPacifico {
    margin-left: 0;
    margin-top: 7px;
    color: #fff;
}
/* =======================================
----------------Nav-----------------------
==========================================*/

@media (min-width: 768px) {
    #main-nav {
        line-height: 0;
        text-align: right;
    }
    #main-menu {
        display: inline-block;
    }

    #contHeader {
        height: 100%;
    }

    .header {
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        height: 69px;
    }

    #contNav {
        padding-right: 0px;
    }

    .navegacion {
        width: 100%;
        height: 100%;
    }

    #main-menu {
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;
        font-family: 'Open Sans', sans-serif;
    }

    #main-menu a {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        color: #fff;
    }

    #main-menu a:hover {
        background: linear-gradient(to bottom, rgba(56,87,122,1) 0%, rgba(56,87,122,1) 0%, rgba(56,87,122,1) 0%, rgba(44,68,94,1) 100%);
        border-bottom: #ff9000 solid 5px;
    }

    .active {
        background: linear-gradient(to bottom, rgba(56,87,122,1) 0%, rgba(56,87,122,1) 0%, rgba(56,87,122,1) 0%, rgba(44,68,94,1) 100%);
        border-bottom: #b36500 solid 5px;
    }

    #btnMenu {
        display: none;
    }
}
/* Mobile */
@media (max-width: 769px) {
    nav {
        display: none;
    }
    .header {
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        min-height: 69px;
        display: flex;
    }
    .header .row {
        display: flex;
        width: 100%;
    }
    
    .menuHam {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #btnMenu {
        width: 44px;
        height: 44px;
        background: rgb(255, 166, 0);
        cursor: pointer;
        justify-content: center;
        display: flex;
        align-items: center;
    }
    #btnMenu i {
        font-size: 25px;
    }
    #main-menu {
        margin: 10px 0;
    }
    #main-menu a {
        padding: 10px 5px;
        border-bottom: solid 1px #365374;
    }
    #main-menu a li{
        padding-left: 10px;
        font-size: 16px;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        text-decoration: none;
        display: block;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        background: none;
        border-bottom: none;
    }
    .active {
        background: linear-gradient(to bottom, rgba(56,87,122,1) 0%, rgba(56,87,122,1) 0%, rgba(56,87,122,1) 0%, rgba(44,68,94,1) 100%);
        border-bottom: #b36500 solid 5px;
    }
    #main-menu a:hover {
        background: #ff8d23;
    }
    
}
.mostrarMenu {
    display: block !important;
}
/* =======================================
----------------Aviso---------------------
==========================================*/

.aviso{
    background: rgba(82, 0, 0, 0.623);
    box-sizing: border-box;
    border-radius: 15px;
    border: rgb(58, 0, 0) 10px solid;
    color: #fff;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.507);
}

.contSigno {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aviso h2 {
    color: #ff8d23;
}

.closeAviso {
    position: absolute;
    right: 19px;
    cursor: pointer;
    font-size: 30px;
  }

.alertaAviso {
    cursor: pointer;
    text-align: center;
    background: -webkit-radial-gradient(circle, #790000, rgb(32, 0, 0));
    box-sizing: border-box;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.507);
    margin: 5px 0;
}
.alertaAviso p {
    color: #fff;
}

/* =======================================
----------------Slider--------------------
==========================================*/

.slider {
    width: 100%;
    margin: 0;
    overflow: hidden;
    height: auto;
    max-height: 750px;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 15s infinite;
}

.slider li {
    width: 100%;
    list-style: none;
    justify-content: center;
    display: flex;
}

.slider img {
    width: 100%;
    height: auto;
    max-width: 1350px;
}

.sliderIndex {
    width: 100%;
    margin: 0;
    overflow: hidden;
    height: auto;
    max-height: 750px;
}

.sliderIndex ul {
    display: flex;
    padding: 0;
    width: 300%;
    animation: slideIndex 15s infinite;
}

.sliderIndex li {
    width: 100%;
    list-style: none;
    justify-content: center;
    display: flex;
}

.sliderIndex img {
    width: 100%;
    height: auto;
    max-width: 1350px;
}

.sliderIndex a {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.541);
}

.subSlide {
    color: #ffffff;
    font-weight: bold;
    background: #00000066;
    padding: 15px;
    margin-top: -4px;
    transition: all 0.3s ease;
}

.sliderIndex img:hover + .subSlide {
    color: #ff9000;
    cursor: pointer;
}

.subSlide:hover {
    color: #ff9000;
    cursor: pointer;
}

/* =======================================
----------------Content--------------------
==========================================*/

.quienesSomos p {
    color: #fff;
    font-size: 22px;
}

@media (min-width: 768px) {
    #contHistSlid {
        margin-top: 122px;
        padding-right: 0px;
    }
}

.imgHistoria div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
}

.fondoHist {
    background: linear-gradient(rgba(255, 255, 0, 0.100), rgb(255, 0, 0, 0.050));
}

.historia {
    width: 96%;
    margin: auto 2%;
    background: #fff;
    border: solid 1px rgb(0, 0, 0);
    margin-bottom: 25px;
}

.historia p {
    color: #000;
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
}

.historia img {
    width: 46%;
    border: solid 1px rgb(202, 131, 0);
    margin: 10px 2%;
}

.imgR {
    float: right;
}

.imgL {
    float: left;
}

.btnA {
    padding: 11px 16px;
    font-size: 14px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border: solid 1px #b0bdc8;
    background: rgba(64, 93, 118, 0.8);
    transition: all 0.3s ease;
    margin: 5px 0;
}

.btnB {
    background: #191b32;
    padding: 2px 34.94px;
}

.btnA:hover {
    background: #ff9000;
    color: #fff;
    border: solid 1px #ff9000;
}

.bordeAzul {
    border: solid 2.5px #305174;
}

.fondoBlanco {
    background: #fff;
    box-shadow:0 5px 10px 0 rgba(0, 0, 0, 0.507);
    margin-right: 8px;
    margin-left: 8px;
    padding: 7px;
}

.border {
    border: 1px solid #000000;
    box-shadow:0 5px 10px 0 rgba(0, 0, 0, 0.507);
}

article {
    width: 100%;
}

article h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 50px;
    color: #ff9000;
}

article h2 {
    color: #fff;
}

article h3 {
    text-align: center;
    margin: 40px 0;
    font-size: 40px;
}

article h4 {
    margin-bottom: 10px;
}

article h5 {
    font-size: 30px;
}

article p {
    margin: 10px 2%;
    text-align: justify;
    font-size: 17px;
    color: #373a41;
    font-weight: 300;
}

table {
    border-spacing: 0px;
    border-collapse: collapse;
    background: #fff4e9;
}

table td {
    border: 1px solid #000000;
    padding: 0.4em;
    margin: 0;
}

article .linea {
    display: flex;
    justify-content: space-between;
}


#btnSubmit {
    background: #383838;
    color: white;
    border: none;
    min-width: 100%;
    font-size: 20px;
    font-weight: bold;
}

/* =======================================
----------------Noticias-------------------
==========================================*/
#noticias {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

@media (max-width: 991px) {
    .noticia h6 {
        text-align: start !important;
    }
}

.noticia {
    background: #fff;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow:0 5px 10px 0 rgba(0, 0, 0, 0.507);
}

#noticias h1 {
    font-size: 38px;
}

#noticias h2 {
    font-size: 23px;
    margin-top: 5px;
    color: #ff9000;
}

#noticias h6 {
    font: 15px;
    margin-right: 10px;
    color: #365374;
    text-align: end;
}

#noticias p {
    color: #000000;
    font-size: 18px;
}

.imgNoticia img{
    width: 100%;
}


/* =======================================
----------------Preguntas-----------------
==========================================*/
.preguntasUser {
    width: 100%;
}

.pregunta {
    background: #fff;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow:0 5px 10px 0 rgba(0, 0, 0, 0.507);
    width: 100%;
}

.pregunta h2 {
    color: #305174;
    font-size: 30px;
    margin-top: 5px;
}

.pregunta .textPregunta p {
    font-size: 18px;
    margin-top: -16px;
} 

.pregunta a {
    color: #ff9000;
}

.nombreEnd{
    text-align: end;
    color: #ff9000;
}

.newPregunta label {
    color: #fff;
    font-size: 24px;
}

.newPregunta {
    width: 96%;
    margin: 0 2%;
}

.newPregunta textarea{
    width: 99%;
    resize: none;
    height: 100px;
    padding: 10px;
}
.mensajes {
    padding: 12px;
    background: #00ff1f;
    border: solid 4px #0c6c00;
    font-weight: bold;
    text-align: center;
    list-style: none;
    box-sizing: border-box;
}
/* =======================================
----------------Login---------------------
==========================================*/
.error {
    text-align: center;
    font-weight: bold;
    color: #ff0000;
}

.linkLogin {
    text-align: end;
}

.formLogin, .center {
    text-align: center;
    font-weight: bold;
}
@media(max-width: 992px) {
    .formLogin li {
        margin-left: 20px;
        text-align: start;
    }
    .helper {
        margin-left: 20px;
    }

}
@media(min-width: 992px) {
    .formLogin li {
        margin-left: 30%;
        text-align: start;
    }
    .helper {
        margin-left: 30%;
    }

}
.formLogin li {
    color: #fff;
}

.formLogin span {
    display: block;
    color: #fff;
}

.formLogin label {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
}


.fullWidth{
    width: 100%;
}

.lblLogin {
    color: #fff;
    font-size: 24px;
}

.lblResp {
    margin-top: 24px;
    color: rgb(0, 0, 0);
    font-size: 24px;
}

input, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font: initial;
  }

input[type=button], input[type=submit] {
    background-color: #131f2d;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
  }

input[type=submit]:hover {
    background-image: linear-gradient(#ff9000, #ff6000);
}

.mantenedorUsuario {
    margin-bottom: 20px;
}

.mantenedorUsuario h1 {
    text-align: center;
}

.mantenedorUsuario a {
    color: #fff;
}

.mantenedorUsuario p {
    color: #fff;
}
/* =======================================
----------------Sectores------------------
==========================================*/

.concon {
    display: none;
}

/* =======================================
----------------Rutas---------------------
==========================================*/

.rutas {
    width: 100%;
    border-radius: 10px;
    background: #00000047;
}

.rutas div .col-xs-12 {
    text-align: center;
}

.rutas h2 {
    text-align: center;
    margin: 10px 0;
    font-size: 30px;
    color: #ff9000;
}

.rutas img {
    width: 95%;
    border-radius: 10px;
    margin: 10px auto;
}

.listaRutas {
    list-style: none;
    clear: both;
}

.listaRutas li {
    float: left;
    margin: 0 5px;
    border-bottom: rgb(0, 0, 255) 1px solid;
}

/* =======================================
----------------Tarifas-------------------
==========================================*/

#buscarTarifa {
    background: rgba(0, 0, 0, 0.5);
    width: 96%;
    margin: 10px 2%;
    padding: 5px;
    border-radius: 5px;
    color: #fff
}

#buscarTarifa select {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: #000 solid 1px;
    border-radius: 5px;
    background: rgb(32, 51, 73);
    color: #fff;
    margin: 10px 0;
}

#buscarTarifa label {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

#buscarTarifa p {
    font-size: 18px;
    color: #fff;
    text-align: start;
}

#tarifas h2 {
    margin-top: 10px;
}

.btnSector a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    border-radius: 20px;
    padding: 0.75rem 2rem;
    text-align: center;
}

.calera{
    transition: 0.5s;
}

.concon {
    display: none;
    transition: 0.5s;
}

#btnCalera a {
    background: #f99600;
    transition: 0.5s;
}

#btnConcon a {
    transition: 0.5s;
    background: #fff;
}

table {
    border-collapse: collapse;
    width: 100%;
    box-shadow:0 5px 10px 0 rgba(0, 0, 0, 0.507);
    margin-top: 8px;
  }

  table td, table th {
    border: 1.2px solid rgb(0, 0, 0);
  }

  table tr:nth-child(even){background-color: #ffffff;}

  table tr:hover {background: rgb(226, 226, 226);}

  table th {
    padding: 12px 2px;
    text-align: center;
    background: linear-gradient(#e6e620, #FF8000, #ff6565);;
    color: rgb(0, 0, 0);
  }

/* =======================================
----------------Pases---------------------
==========================================*/

#pases img {
    width: 90%;
    margin: 0 5%;
}

#pases h5 {
    text-align: center;
    font-size: 25px;
    margin: 5px 0;
    font-family: "Coneria Script";
}

#pases p {
    font-size: 18px;
    color: #000000;
    margin: 5px 15px;
}

.row > div {
    margin: 10px 0;
}

#pases .pase {
    height: 100%;
    margin: 10px 0;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    border-radius: 20px;
    background: #fffceb;
}

#pases h2{
    margin: 0 10px;
    text-align: justify;
}
/* =======================================
-----------------Horarios-----------------
==========================================*/

#horarios h2{
    text-align: center;
}

.tdCenter {
    text-align: center;
}

/* =======================================
----------------Footer--------------------
==========================================*/

footer ul {
    list-style-type: none;
}

.footer-info {
    background-color: #212121;
    text-decoration-color: #ffffff;
    color: #ffffff;
    padding: 3rem 3rem 1.5rem;
    display: flex;
    flex-direction: column;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer div {
    margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
    .footer-info {
        flex-direction: row;
        justify-content: space-between;
    }
}

#info li {
    margin: 10px 0;
}

#info li img {
    width: 20px;
    margin-right: 5px;
}


/* =======================================
----------------Redes Sociales------------
==========================================*/

#social-media {
    justify-content: center;
}

.social-media {
    margin-right: 60px;
}

.social-media ul {
    padding-top: 10px;
}

.social-media ul li {
    margin: 5px 0;
}

.fa {
    font-size: 18px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    padding: 7px;
}

.fa-facebook {
    background: rgb(0, 0, 0);
    color: white;
}

.fa-facebook:hover {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: rgb(0, 0, 0);
    color: white;
}

.fa-instagram:hover {
    background: linear-gradient(#405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
    color: white;
}


/* =======================================
----------------Animations----------------
==========================================*/

@keyframes cambio {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    95% {
        margin-left: -300%;
    }
}

@keyframes slideIndex {
    0% {
        margin-left: 0;
    }
    25% {
        margin-left: 0;
    }
    33.333% {
        margin-left: -100%;
    }
    58.333% {
        margin-left: -100%;
    }
    66.666% {
        margin-left: -200%;
    }
    91.666% {
        margin-left: -200%;
    }
}

input[type=submit]:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#horarios .row {
    justify-content: center;
}

/* =======================================
----------------Cards---------------------
==========================================*/

@media (max-width: 716px) {
    .contPases{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .flip-card {
        width: 100%;
    }
}

@media (min-width: 320px) {
    .contPases .flip-card {
        width: 300px;
        height: 167.8125px;
    }
    .flip-card-inner .flip-card-front img {
        width: 300px;
        height: 167.8125px;
    }
    .paseRojo p{
        font-size: 15px;
      }
    
      .paseAzul p{
        font-size: 13px;
      }
      
      .paseAmarillo p{
        font-size: 12px;
      }
    
      .paseVerde p{
        font-size: 15px;
      }
}

@media (min-width: 917px) {
    .contPases .flip-card {
          width: 440px;
          height: 246.125px;
          margin: 30px 0;
      }
      .flip-card-inner .flip-card-front img {
          width: 440px;
          height: 246.125px;
      }
      .paseRojo p{
        font-size: 24px;
      }
    
      .paseAzul p{
        font-size: 21px;
      }
      
      .paseAmarillo p{
        font-size: 18px;
      }
    
      .paseVerde p{
        font-size: 23px;
      }
      .flip-card-back p {
        text-align: start;
        margin-left: 15px;
      }
  }

.contPases{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
}

.flip-card {
    margin: 15px 0;
    background-color: transparent;
    width: 350px;
    height: 200px;
    perspective: 1000px;
    border-radius: 10px;
  }
  
  .flip-card-front img {
      width: 350px;
      height: 200px;
      border-radius: 10px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.38);
    border-radius: 10px;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    color: white;
    transform: rotateY(180deg);
    border-radius: 10px;
    background: #000;
    background: url(../Images/Pases/PaseOscuro.jpg) !important;
    background-size:     cover !important;
    background-repeat:   no-repeat;
    background-position: center center;
  }

  .flip-card-back p {
    text-align: start;
    margin-left: 5px;
    font-weight: 50;
  }

  .flip-card-back p span {
    font-weight: bolder;
  }

  .negrita{
      font-weight: bolder;
  }

  .btnSector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            display: none;
}
.zCalera{
    background-image: url(../Images/Tarifas/calera.png);
}
.zCosta{background-image:url(../Images/Tarifas/costa.png);}

.btnSector input:active +.radioZona{opacity: .9;}
.btnSector input:checked +.radioZona{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.radioZona img{width: 100%;border-radius: 4%;}
.radioZona{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:flex;
    width:100%;
    border-radius: 4%;
    box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.38);
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.radioZona:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* =======================================
----------------Recuperar Clave-----------
==========================================*/

.recomendaciones ul {
    margin-left: 20px;
}

.recomendaciones ul li {
    text-align: start;
    color: #fff;
}


/* =======================================
----------------Transrural----------------
==========================================*/

#logoTrans {
    margin-top: 20px;
}

.transrural {
    width: 100%;
}

.transrural h3 {
    color: #F77737;
    margin: 0;
}

.transrural p {
    color: rgb(255, 136, 0);
    font-weight: bold;
}

.transrural span{
    font-weight: normal;
    color: #fff;
}

.transrural h2 {
    text-align: center;
}

.transrural img {
    width: 100%;
    border-radius: 10px;
}

.transDownload {
    text-align: center;
}

.transDownload a {
    width: 85%;
    font-size: 20px;
}