* {
    margin: 0;
}
@font-face {
    font-family: 'Coneria Script';
    src: URL('Fonts/Demo_ConeriaScript.ttf') format('truetype');
  }

nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1% 20%
}

hr {
    clear: both;
}

ul {
    list-style-type: none;
}

#txtLogo {
    font-size: 40px;
    font-family: 'Coneria Script';
    text-decoration: none;
    color: #000000;
    margin: 1%;
    text-align: center;
    float: left;

}

#logo {
    background-image: linear-gradient(#ffff00, #ff0000);
    border-radius: 100%;
    font-size: 20px;
    width: 70px;
    margin: 0 0;
    text-align: center;
    padding: 20px 7px 0px 0px;
}

#txtLogo span {
    margin: 0 1rem;
}

nav #logo {
    width: 100%;
}

nav #menu {
    clear: both;
}

nav #menu ul {
    display: inline-block;
    width: 40%;
    margin: 0 30%;
}

nav li {
    display: inline-block;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 7px;
    color: #000000;
}

nav li :hover {
    background-color: #585858;
    display: inline-block;
    border-radius: 20px;
    padding: 7px;
    color: #ffffff;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    border-radius: 20px;
    display: inline-block;
}

footer {
    margin: 0;
    width: 100%;
    background-color: #9f0000;
    text-decoration-color: #ffffff;
    color: #ffffff;
    height: 25%;
}

footer div {
    width: 50%;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer #Contacto {
    float: left;
}