{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="google-site-verification" content="K2rK3j57aYlQ__tCQxR_NMBX1B5nzfEtZuSE7S3ynHc" />
    <title>Sol Del Pacifico</title>
    <link href="{% static 'css/sm-core-css.css' %}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/flexboxgrid.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'Images/favicon.ico' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://code.jquery.com/color/jquery.color.plus-names-2.1.2.min.js"></script>
    <script src="{% static 'js/jquery.smartmenus.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/script.js' %}"></script>
</head>

<body class="layout">
    <button onclick="subir()" id="btnSubir" title="Subir"><img src="{% static 'Images/up.png' %}" id="subir"
            alt="top"></button>
    <header class="header container">
        <div class="row noMarginTopBot" id="contHeader">
            <div class="col-xs-12 col-sm-4 noMarginTopBot menuHam">
                <div class="Logo">
                    <a class="txtLogo" href="{% url 'index' %}">
                        <div class="spnSol">Sol</div>
                        <div class="bgLogo">
                            <div class="spnDel">del</div>
                        </div>
                        <div class="spnPacifico">Pacífico</div>
                    </a>
                </div>
                <div id="btnMenu" onclick="toggleMenu()">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 noMarginTopBot" id="contNav">
                <nav class="navegacion">
                    <ul id="main-menu" class="sm sm-blue">
                        <li><a href="{% url 'index' %}">Inicio</a></li>
                        <li><a href="{% url 'historia' %}">Rutas</a></li>
                        <li><a href="{% url 'tarifas' %}">Tarifas</a></li>
                        <li><a href="{% url 'tarifas' %}">Beneficios</a></li>
                        <li><a href="{% url 'preguntas' %}">Contacto</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    {% block content %}{% endblock %}

    <footer class="footer-info" id="about">
        <div class="contacto">
            <h3>Empresa de Transportes y Servicios Rurales Sol del Pacífico.</h3>
            <ul id="info">
                <li><a href="mailto:secretaria@soldelpacifico.cl"><img src="{% static 'Images/email.png' %}"
                            alt="correo"><span class="negrita">Correo</span>: secretaria@soldelpacifico.cl</a></li>
                <li><a href="tel:322795700"><img src="{% static 'Images/phone.png' %}" alt="fono"><span
                            class="negrita">Telefono</span>: (32)
                        279 57
                        00</a></li>
                <li><a
                        href="https://www.google.cl/maps/place/Galvarino+110,+Valpara%C3%ADso,+Regi%C3%B3n+de+Valpara%C3%ADso/@-33.0265012,-71.6461921,17z/data=!3m1!4b1!4m5!3m4!1s0x9689e6b80ed13925:0x1fa79fdd955b5ebe!8m2!3d-33.0265057!4d-71.6440034"><img
                            src="{% static 'Images/map.png' %}" alt="mapa"><span class="negrita">Dirección</span>:
                        Galvarino 110,
                        Playa Ancha,
                        Valparaíso.</a>
                </li>
            </ul>
        </div>
        <div class="social-media">
            <h3>Redes Sociales</h3>
            <ul>
                <li><a href="https://www.facebook.com/pg/soldelpacificosur" class="fa fa-facebook"
                        target="_blank"></a><a href="https://www.facebook.com/pg/soldelpacificosur" target="_blank">
                        Facebook</a></li>
                <li><a href="https://www.instagram.com/busessoldelpacifico" target="_blank"
                        class="fa fa-instagram"></a><a href="https://www.instagram.com/busessoldelpacifico"
                        target="_blank"> Instagram</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>