{% extends "sol/base.html" %}
{% load static %}

{% block content %}
<article id="pases">
    <h1>Pases Sol del Pacifico</h1>
    <h2>Se obtienen directamente en la
        <a class="link"
            href="https://www.google.cl/maps/place/Galvarino+110,+Valpara%C3%ADso,+Regi%C3%B3n+de+Valpara%C3%ADso/@-33.0265012,-71.6461921,17z/data=!3m1!4b1!4m5!3m4!1s0x9689e6b80ed13925:0x1fa79fdd955b5ebe!8m2!3d-33.0265057!4d-71.6440034">Oficina
            Sol del Pacífico</a>
        cancelando directamente en caso que el pase lo requiera y tomandose la foto, horario de 0:30 a 13:30, confeccion
        y entrega inmediata.
    </h2>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="pase">
                <h5>Pase Trabajador</h5>
                <img src="{% static 'Images/Pases/PaseRojo.png' %}" alt="Pase Trabajador">
                <p><span class="negrita">Costo</span>: $12.000.</p>
                <p><span class="negrita">Vigencia</span>: 1 semestre (Enero-Julio o Julio-Diciembre)</p>
                <p><span class="negrita">Para</span>: Público</p>
                <p><span class="negrita">Requisitos</span>: Ninguno</p>
                <p><span class="negrita">Rebaja</span>: 20% de la tarifa.</p>
            </div>

        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="pase">
                <h5>Pase Tercera Edad</h5>
                <img src="{% static 'Images/Pases/PaseAzul.png' %}" alt="Pase Tercera Edad">
                <p><span class="negrita">Costo</span>: $0 por gestion municipal, $6000 gestion personal.</p>
                <p><span class="negrita">Vigencia</span>: 1 año</p>
                <p><span class="negrita">Para</span>: Tercera Edad</p>
                <p><span class="negrita">Requisitos</span>: Gestion municipal (Quintero, Puchuncavi u otra)</p>
                <p><span class="negrita">Rebaja</span>: 20% de la tarifa.</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="pase">
                <h5>Pase Social</h5>
                <img src="{% static 'Images/Pases/PaseAmarillo.png' %}" alt="Pase Social">
                <p><span class="negrita">Costo</span>: Desde $6000 hasta $0 dependiendo de la situacion.</p>
                <p><span class="negrita">Vigencia</span>: Desde 6 meses hasta 1 año.</p>
                <p><span class="negrita">Para</span>: Minusvalidos, Incapacitados y personas de escasos recursos.</p>
                <p><span class="negrita">Requisitos</span>: Evaluacion del Director Secretario, en casos documento de
                    incapacidad, informe social de la municipalidad u otros. </p>
                <p><span class="negrita">Rebaja</span>: Variable.</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="pase">
                <h5>Pase Libre</h5>
                <img src="{% static 'Images/Pases/PaseVerde.png' %}" alt="Pase Libre">
                <p><span class="negrita">Costo</span>: $0.</p>
                <p><span class="negrita">Vigencia</span>: 1 año</p>
                <p><span class="negrita">Para</span>: Empresarios, Agentes PDI, Funcionarios Sol del Pacifico e
                    Inspectores</p>
                <p><span class="negrita">Rebaja</span>: 100% de la tarifa.</p>
            </div>
        </div>
    </div>
</article>

{% endblock %}