{% extends "sol/base.html" %}
{% load static %}

{% block content %}
<article id="pases">
    <h1>Pases Rebajados</h1>
    <h2>Se obtienen directamente en la
        <a class="link" href="https://www.google.cl/maps/place/Galvarino+110,+Valpara%C3%ADso,+Regi%C3%B3n+de+Valpara%C3%ADso/@-33.0265012,-71.6461921,17z/data=!3m1!4b1!4m5!3m4!1s0x9689e6b80ed13925:0x1fa79fdd955b5ebe!8m2!3d-33.0265057!4d-71.6440034">Oficina
            Sol del Pacífico</a>
        , horario de atención 09:00 am a 13:30 pm, confección
        y entrega inmediata.
    </h2>
    <h3>Desliza el mouse sobre las tarjetas, o presiona sobre ellas si estas desde un dispositivo movil para ver detalles del pase.</h3>
</article>

<div class="contPases container fullWidth">

    <!-- Pase Trabajador -->

    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="{% static 'Images/Pases/PaseRojo.jpeg' %}" alt="Avatar" class="imgCard">
            </div>
            <div class="flip-card-back paseRojo">
                <h1>Pase Trabajador</h1>
                <p><span class="negrita">Costo</span>: $12.000.</p>
                <p><span class="negrita">Vigencia</span>: Enero-Junio y Julio-Diciembre</p>
                <p><span class="negrita">Para</span>: Público</p>
                <p><span class="negrita">Requisitos</span>: Ninguno</p>
                <p><span class="negrita">Rebaja</span>: 20% de la tarifa.</p>
            </div>
        </div>
    </div>
    
    <!-- Pase Tercera Edad -->

    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="{% static 'Images/Pases/PaseAzul.jpeg' %}" alt="Avatar" class="imgCard">
            </div>
            <div class="flip-card-back paseAzul">
                <h1>Pase Tercera Edad</h1>
                <p><span class="negrita">Costo</span>: $6000.</p>
                <p><span class="negrita">Vigencia</span>: 1 año</p>
                <p><span class="negrita">Para</span>: Tercera Edad</p>
                <p><span class="negrita">Requisitos</span>: Solo acreditar edad o a través de Gestion Municipal</p>
                <p><span class="negrita">Rebaja</span>: Más de 20% de la tarifa.</p>
            </div>
        </div>
    </div>

    <!-- Pase Social -->

    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="{% static 'Images/Pases/PaseAmarillo.jpeg' %}" alt="Avatar" class="imgCard">
            </div>
            <div class="flip-card-back paseAmarillo">
                <h1>Pase Social</h1>
                <p><span class="negrita">Costo</span>: Desde $0 hasta $6.000.</p>
                <p><span class="negrita">Vigencia</span>: Desde 6 meses hasta 1 año.</p>
                <p><span class="negrita">Para</span>: Personas con capacidad o movilidad reducida o de escasos recursos.</p>
                <p><span class="negrita">Requisitos</span>: Evaluación del Director Secretario, presentar documento de
                    incapacidad, informe social de la municipalidad u otros. </p>
                <p><span class="negrita">Rebaja</span>: Variable.</p>
            </div>
        </div>
    </div>

    <!-- Pase Libre -->

    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="{% static 'Images/Pases/PaseVerde.jpeg' %}" alt="Avatar" class="imgCard">
            </div>
            <div class="flip-card-back paseVerde">
                <h1>Pase Libre</h1>
                <p><span class="negrita">Costo</span>: $0.</p>
                <p><span class="negrita">Vigencia</span>: 1 año</p>
                <p><span class="negrita">Para</span>: Empresarios, Autoridades, Funcionarios Sol del Pacifico e
                    Inspectores</p>
                <p><span class="negrita">Rebaja</span>: 100% de la tarifa.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}