{% extends "sol/base.html" %}
{% load static %}

{% block content %}
<div class="row">
  <article class="col-xs-12 quienesSomos">
    <div class="col-xs-12">
      <p><img class="imgL" src="{% static 'Images/quienes.png' %}" alt="bus1" />Sol del Pacífico es la Empresa de
        Transporte Rural de Pasajeros, considerada como la mas representativa y la de
        mayor trayectoria de la Quinta Región. Durante 65 años, cumplimos servicios de Mar a Cordillera, prácticamente a
        todas las provincias regionales. Los Servicios a
        Quillota, La Calera, San Felipe, Los Andes, mas los que se realizan a
        Ventanas,
        Puchuncaví, Maitencillo, Papudo, Zapallar, La Ligua, Cabildo, Petorca y Chincolco, casi en los límites
        cordilleranos, dan prueba de la labor que se cumple.</p>
      <p>Desde 1955 nuestra función no ha sido solo transportar, sino de unir personas, ayudando a cumplir sus sueños, y
        contribuir al progreso personal e intercomunal.<img class="imgR" src="{% static 'Images/sala.jpeg' %}"
        alt="bus1" /></p>
      <p>Por ello, y en concordancia a las necesidades y avances de nuestros tiempos, nos hemos ido innovando, y
        adaptando
        a las necesidades de nuestros clientes. Es así como nos hemos constituído en la primera empresa de Transportes
        Rurales de la Región, en implementar el Servicio de Localización y Administración de Flota a través del Sistema
        GPS Online.</p>
      <p>Sin embargo, sabemos que alcanzar la calidad es un proceso constante, por ello estamos diseñando y ejecutando
        acciones que nos permitan mejorar y diversificar nuestro servicio.</p>
    </div>
    
    <h1>Visión</h1>
    <p>Dar cobertura a todas las localidades rurales de la Región de Valparaíso, como la empresa con mayor frecuencia, y con buses acorde al tiempo de viaje, siendo un actor importante dentro del gremio y federaciones que nos representan.</p>
    <h1>Misión</h1>
    <p>Trasladar pasajeros de comunidades apartadas del Gran Valparaíso a sus respectivos destinos con seguridad, respeto, personal diferenciado y con frecuencia acorde a la demanda.</p>
    <p class="centrar">Representante Legal : Alvaro Leyton Tureuna</p>
  </article>
</div>
<article>
  <h1>Historia</h1>
</article>
<article class="historia">
  <div class="fondoHist">
    <div class="row">
      <div class="col-xs-12">
        <img class="imgR" src="{% static 'Images/Inicio/historia.gif' %}" alt="">
        <p>Sol del Pacífico, fue fundada el 3 de julio de 1955, por un grupo pequeño de personas visionarias, quienes se
          dieron cuenta que la ciudad de Quilpué tenía la suficiente cantidad de habitantes para crear un servicio de
          transporte de pasajeros, que supliera los muchos horarios en que no había tren hacia Valparaíso. Es así como
          se
          reunieron en primera instancia Don René Bardet, propietario de la Bomba Copec de la Aduana de Valparaíso, Don
          Pedro González, exalcalde de Quilpué, Don Enrique Nash, ex integrante de la Armada, Don Raúl Pinto Pible,
          comerciante, Don Augusto Gutiérrez Tiffou, exGerente de Banco del Estado y Don Luis López, importador. Dicho
          grupo de personas, entre otras, dieron inicio a nuestra línea, con apenas 14 máquinas "liebre", las cuales,
          por
          sus características, transportaba solamente 15 pasajeros sentados.</p>
        <img class="imgL" src="{% static 'Images/Inicio/bus1.jpeg' %}" alt="">
        <p> En un principio Sol del Pacífico, partía en la Estación de Quilpué, a un costado de la Ilustre Municipalidad
          y
          llegaba hasta la Aduana de Valparaíso. El despacho de retorno estaba en Errázuriz, local arrendado, vecino al
          Monumento a Prat, al cual lo solían llamar "El Hoyo", porque la Oficina estaba en un subterráneo.</p>
        <img class="imgR" src="{% static 'Images/Inicio/personas2.jpeg' %}" alt="">
        <p>Un directorio señero en la futura marcha institucional fue integrado por Don Augusto Gutiérrez T., como
          Presidente, Don Luis López, Tesorero, Don Pedro González, Jefe de Personal y Alejandro Jer, Jefe de Servicios,
          quienes en base a sus contactos y prestigio personal, hicieron crecer poco a poco a la línea, cimentando las
          bases de nuestra Institución.</p>
        <img class="imgL" src="{% static 'Images/Inicio/bus2.jpeg' %}" alt="">
        <p>De partida el nombre inicial de la Línea que se llamaba "El Sol" lo transformaron en "El Sol del Pacífico",
          nombre que nos acompaña hasta este día. De ahí en adelante la historia es más conocida añadiendo los
          recorridos
          Ligua - Cabildo, Chincolco - Alicahue, pertenecientes a la familia Quintanilla.</p>
        <p>
          Se crearon los servicios San Felipe - Los Andes con extensiones a Santa María, Putaendo. Por el norte
          llegábamos
          a los Vilos con Ramales a Salamanca, Combarbalá, pasando por Pichicuy y Los Molles. LLegó a ser la Línea Rural
          más importante de Chile, llegando a tener 360 buses operativos.</p>
        <p>
          Con el paso del tiempo, al ir aumentando la demanda, y cambiando las necesidades de los usuarios, el Gobierno
          implementó un Nuevo Sistema de Transporte, lo cual dio lugar a la conformación de nuevas Líneas de Buses para
          atender sectores perimetrales específicos.</p>
        <p>
          Hoy en día Sol del Pacífico, es una de las empresas de Buses más importantes y de mayor trayectoria de la
          Quinta
          Región, dando empleo a cientos de personas, y transportando a miles de pasajeros diariamente.
        </p>
      </div>
    </div>
  </div>
</article>

{% endblock %}