{% extends "sol/base.html" %}
{% load static %}

{% block content %}
<div class="row">
  <article class="col-xs-12 quienesSomos">
    <div class="col-xs-12">
      <p><img class="imgL" src="{% static 'Images/Inicio/si.png' %}" alt="bus1"
          title="Terminal de Playa Ancha, Valparaiso" />Sol del Pacífico es la Empresa de
        Transporte Rural de Pasajeros, considerada como la mas representativa y la de
        mayor trayectoria de la V Región. Durante 65 años, cumplimos servicios de Mar a Cordillera, prácticamente a
        todas las provincias regionales. Los Servicios a
        Quillota, La Calera, San Felipe, Los Andes, mas los que se realizan a
        Ventanas,
        Puchuncaví, Maitencillo, Papudo, Zapallar, La Ligua, Cabildo, Petorca y Chincolco, casi en los límites
        cordilleranos, dan prueba de la labor que se cumple.</p>
      <p>Desde 1955 nuestra función no ha sido solo transportar, sino de unir personas, ayudando a cumplir sus sueños, y
        contribuir al progreso personal e intercomunal.
        Por ello, y en concordancia a las necesidades y avances de nuestros tiempos, nos hemos ido innovando, y
        adaptando
        a las necesidades de nuestros clientes.
        <img class="imgR" src="{% static 'Images/Inicio/gpsok.png' %}" alt="bus1" /></p>
      <p> Es así como nos hemos constituído en la primera empresa de Transportes
        Rurales de la Región, en implementar el Servicio de Localización y Administración de Flota a través del Sistema
        GPS Online.</p>
      <p>Sin embargo, sabemos que alcanzar la calidad es un proceso constante, por ello estamos diseñando y ejecutando
        acciones que nos permitan mejorar y diversificar nuestro servicio.</p>
    </div>
    <div class="col-xs-12">
      <h1>Visión</h1>
      <p>Dar cobertura a todas las localidades rurales de la Región de Valparaíso, como la empresa con mayor frecuencia,
        y
        con buses acorde al tiempo de viaje, siendo un actor importante dentro del Gremio y Federaciones que nos
        representan.</p>
      <h1>Misión</h1>
      <p>Trasladar pasajeros de comunidades apartadas del Gran Valparaíso a sus respectivos destinos, con seguridad,
        respeto, personal diferenciado y con frecuencia acorde a la demanda.</p>
    </div>
    <!-- <p class="centrar">Representante Legal : Alvaro Leyton Tureuna</p> -->
    <div class="col-xs-12">
      <h1>Estructura</h1>
      <p>La Empresa de Transportes y Servicios Rurales Sol del Pacífico, está administrada por un Directorio General, el
        cual, está integrado por El Presidente, El Director Secretario, La Tesorera, El Jefe de Personal, El Jefe de
        Servicio Costa, y El Jefe de Servicio Calera.</p>
      <p>Los Directivos, en su conjunto, cuentan con amplios poderes y autoridad para diseñar políticas y normas,
        velando
        por su fiel cumplimiento.</p>

      <p>Cada dos años se realizan votaciones, para elegir o ratificar a los Directores, para esto, se cita a una
        Asamblea
        General de Socios.</p>

      <h1>Funciones de los integrantes del Directorio</h1>
      <p>El Presidente: Es también el Representante Legal de la Empresa. Es el Administrador General de la Organización.
        Cita y preside las reuniones y Asambleas. Representa a la Empresa ante las autoridades.</p>
      <p>El Director Secretario: es un Ministro de Fe, tanto de lo que se decide en las Asambleas, como de los cambios
        que
        se produzcan al interior de La Organización. Tiene también entre sus funciones autorizar y supervisar los
        trámites
        ante el Seremi de Transportes, y vigilar el buen desempeño administrativo del personal que presta asistencia a
        los
        pasajeros. </p>
      <p>La Tesorera: Tiene a su cargo los Departamentos de Contabilidad y Recaudaciones. Vela por el cumplimiento de
        las
        políticas y objetivos financieros. </p>
      <p>Jefe de Personal: Supervisa todo lo referente a los Recursos Humanos, prestando especial atención, a tratar de
        mantener siempre un personal adecuado y motivado, que permita prestar un buen servicio a los pasajeros.</p>
      <p>Jefes de Servicio Costa y Calera: Dictan las normas en lo referente al Servicio, y controlan su cumplimiento, a
        través de GPS y en terreno. Tienen plena autoridad para tomar decisiones por el no cumplimiento. Están
        comprometidos con la calidad del servicio ante los pasajeros, el Directorio y las Autoridades de Transporte.</p>
    </div>
  </article>
</div>
<article class="tituloHistoria">
  <h1>Historia</h1>
  <h4 class="center">Por Santiago Cassinelli (*)</h4>
</article>
<article class="historia">
  <div class="fondoHist">
    <div class="row">
      <div class="col-xs-12">
        <p><img class="imgL" src="{% static 'Images/Inicio/historia.gif' %}" alt="Bussol"
            title="Inauguración Terminal" />
          Sol del Pacífico, fue fundada en la ciudad de Quilpué, el 3 de julio de 1955. En sus inicios, la modesta Línea
          de Buses fue bautizada simplemente con el nombre de "Sol", con la finalidad de representar la memoria vital de
          la Empresa y su historia, haciendo referencia a su ciudad natal, la nombrada "Ciudad del Sol".</p>
        <p>Es en esta comuna, que un pequeño grupo de emprendedores pertenecientes a varios sectores de la sociedad, se
          reúnen para materializar una visión que tuvieron en común, al darse cuenta que la ciudad de Quilpué tenía la
          suficiente cantidad de habitantes para crear un servicio de transporte de pasajeros, que supliera los muchos
          horarios en que no había tren hacia Valparaíso.</p>
        <p>Es así como
          se
          reunieron en primera instancia Don René Bardet, propietario de la Bomba Copec de la Aduana de Valparaíso, Don
          Pedro González, exalcalde de Quilpué, Don Enrique Nash, ex integrante de la Armada, Don Raúl Pinto Pible,
          comerciante, Don Augusto Gutiérrez Tiffou, exGerente de Banco del Estado y Don Luis López, importador. Dicho
          grupo de personas, entre otras, dieron inicio a nuestra Línea, con apenas 14 máquinas, con capacidad para 15
          pasajeros sentados, las cuales, el público los apodó "liebres", debido especialmente a su buen servicio,
          prontitud y presteza. </p>

        <p><img class="imgR" src="{% static 'Images/Inicio/soto.jpg' %}" alt="">

          En un principio, Sol del Pacífico partía en la Estación de Quilpué, a un costado de la Ilustre Municipalidad,y
          llegaba hasta la Aduana de Valparaíso. El despacho de retorno estaba en la Av.Errázuriz, en un local
          arrendado, aledaño al Monumento a Prat. A este Terminal lo solían llamar "El Hoyo", debido a que la Oficina se
          encontraba en un subterráneo.</p>

          grupo de personas, entre otras, dieron inicio a nuestra Línea, con apenas 14 máquinas, con capacidad para 15 pasajeros sentados, las cuales, el público las apodó "liebres", debido especialmente a su buen servicio, prontitud y presteza. </p>
               
  <p><img class="imgR" src="{% static 'Images/Inicio/soto.jpg' %}" alt="">
  
         En un principio, Sol del Pacífico partía en la Estación de Quilpué, a un costado de la Ilustre Municipalidad,y llegaba hasta la Aduana de Valparaíso. El despacho de retorno estaba en la Av.Errázuriz, en un local arrendado, aledaño al Monumento a Prat. A este Terminal lo solían llamar "El Hoyo", debido a que la Oficina se encontraba en un subterráneo.</p>
      
        <p>Un Directorio señero en la futura marcha institucional fue integrado por Don Augusto Gutiérrez T., como
          Presidente, Don Luis López, Tesorero, Don Pedro González, Jefe de Personal y Alejandro Jer, Jefe de Servicios,
          quienes en base a sus contactos y prestigio personal, hicieron crecer poco a poco a la línea, cimentando las
          bases de nuestra Institución.</p>
        <p><img class="imgL" src="{% static 'Images/Inicio/santiago.png' %}" alt="">

          De partida, el nombre inicial de la Línea, "El Sol", lo transformaron en "El Sol del Pacífico", debido a que
          extendieron significativamente la cobertura del servicio en la V Región, logrando añadir los recorridos Ligua
          - Cabildo, y Chincolco - Alicahue, pertenecientes hasta entonces a la familia Quintanilla.</p>

        <p>
          Se crearon los servicios San Felipe - Los Andes con extensiones a Santa María, Putaendo. Por el norte
          llegábamos a los Vilos, Ramales, Salamanca, Combarbalá, pasando por Pichicuy y Los Molles. LLegando a ser la
          Línea Rural
          más importante de Chile, con mas de 380 buses operativos.</p>
        <p>
          Con el paso del tiempo, al ir aumentando la demanda, y cambiando las necesidades de los usuarios, el Gobierno
          implementó un Nuevo Sistema de Transporte, lo cual dió lugar a la conformación de nuevas Líneas de Buses para
          atender sectores perimetrales específicos.</p>
        <p>
          Hoy en día Sol del Pacífico, es una de las Empresas de Buses más importantes y de mayor trayectoria de la
          V
          Región, dando empleo a cientos de personas, y transportando a miles de pasajeros diariamente.
        </p>
      </div>
    </div>
  </div>
</article>

{% endblock %}