{% extends "sol/base.html" %}
{% load static %}

{% block content %}
<article>
    <h1>Historia</h1>
</article>
<article class="historia">
  <div class="row">
    <div class="col-xs-12">
      <img class="imgR" src="{% static 'Images/Inicio/personas1.jpeg' %}" alt="">
      <p>Sol del Pacífico, fue fundada el 3 de julio de 1955, por un grupo pequeño de personas visionarias, quienes se
        dieron cuenta que la ciudad de Quilpué tenía la suficiente cantidad de habitantes para crear un servicio de
        transporte de pasajeros, que supliera los muchos horarios en que no había tren hacia Valparaíso. Es así como se
        reunieron en primera instancia Don René Bardet, propietario de la Bomba Copec de la Aduana de Valparaíso, Don
        Pedro González, exalcalde de Quilpué, Don Enrique Nash, ex integrante de la Armada, Don Raúl Pinto Pible,
        comerciante, Don Augusto Gutiérrez Tiffou, exGerente de Banco del Estado y Don Luis López, importador. Dicho
        grupo de personas, entre otras, dieron inicio a nuestra línea, con apenas 14 máquinas "liebre", las cuales, por
        sus características, transportaba solamente 15 pasajeros sentados.</p>
      <img class="imgL" src="{% static 'Images/Inicio/bus1.jpeg' %}" alt="">
      <p> En un principio Sol del Pacífico, partía en la Estación de Quilpué, a un costado de la Ilustre Municipalidad y
        llegaba hasta la Aduana de Valparaíso. El despacho de retorno estaba en Errázuriz, local arrendado, vecino al
        Monumento a Prat, al cual lo solían llamar "El Hoyo", porque la Oficina estaba en un subterráneo.</p>
      <img class="imgR" src="{% static 'Images/Inicio/personas2.jpeg' %}" alt="">
      <p>Un directorio señero en la futura marcha institucional fue integrado por Don Augusto Gutiérrez T., como
        Presidente, Don Luis López, Tesorero, Don Pedro González, Jefe de Personal y Alejandro Jer, Jefe de Servicios,
        quienes en base a sus contactos y prestigio personal, hicieron crecer poco a poco a la línea, cimentando las
        bases de nuestra Institución.</p>
      <img class="imgL" src="{% static 'Images/Inicio/bus2.jpeg' %}" alt="">
      <p>De partida el nombre inicial de la Línea que se llamaba "El Sol" lo transformaron en "El Sol del Pacífico",
        nombre que nos acompaña hasta este día. De ahí en adelante la historia es más conocida añadiendo los recorridos
        Ligua - Cabildo -Chincolco - Alicahue a la familia Quintanilla.</p>
      <p>
        Se crearon los servicios San Felipe - Los Andes con extensiones a Santa María, Putaendo. Por el norte llegábamos
        a los Vilos con Ramales a Salamanca, Combarbalá, pasando por Pichicuy y Los Molles. LLegó a ser la Línea Rural
        más importante de Chile, llegando a tener 360 buses operativos.</p>
      <p>
        Con el paso del tiempo, al ir aumentando la demanda, y cambiando las necesidades de los usuarios, el Gobierno
        implementó un Nuevo Sistema de Transporte, lo cual dio lugar a la conformación de nuevas Líneas de Buses para
        atender sectores perimetrales específicos.</p>
      <p>
        Hoy en día Sol del Pacífico, es una de las empresas de Buses más importantes y de mayor trayectoria de la Quinta
        Región, dando empleo a cientos de personas, y transportando a miles de pasajeros diariamente.
      </p>
    </div>
  </div>
</article>
{% endblock %}