{% extends "sol/base.html" %}
{% load static %}

{% block content %}

{% for aviso in Avisos %}
<div class="alertaAviso">
  <div class="row">
    <div class="col-xs-12">
      <a href="#avisoPopup" class="open-popup-link"><p>Hay un aviso para el dia de hoy, clickeame para verlo.</p></a>
    </div>
  </div>
</div>

<div class="aviso white-popup mfp-hide" id="avisoPopup">
  <div class="row">
    <div class="col-xs-3 contSigno">
      <i class="material-icons md-48">error</i>
    </div>
    <div class="col-xs-9">
      <h1>Aviso del dia {{aviso.dia.date}}</h1>
      <h2>{{aviso.titulo}}</h2>
      <p>{{aviso.mensaje}}</p>
    </div>
  </div>
</div>
{% empty %}
{% endfor %}

<div class="row">
  <div class="row col-xs-12 col-sm-3" id="contHistSlid">
    <div class="col-xs-12 noMarginTopBot">
      <div class="imgHistoria row">
        <div class="col-xs-12 noMarginTopBot">
          <img src="{% static 'Images/logoOK.jpg' %}" alt="Logo">
        </div>
        <div class="col-xs-12 noMarginTopBot">
          <a class="btnA" href="{% url 'historia' %}">HISTORIA</a>
        </div>
        <div class="col-xs-12 noMarginTopBot">
          <a class="btnA popup" href="{% static 'Images/quienessomos.png' %}">QUIENES SOMOS</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-9">
    <div class="sliderIndex">
      <ul>
        <li><a href="#">
            <img src="{% static 'Images/Slider/Slider-img1.jpg' %}" alt="bus1" />
            <p class="subSlide">Terminales</p>
          </a></li>
        <li><a href="{% url 'preguntas' %}">
            <img src="{% static 'Images/Slider/Slider-img2.jpg' %}" alt="bus2" />
            <p class="subSlide">Preguntas frecuentes</p>
          </a></li>
        <li><a href="#">
            <img src="{% static 'Images/Slider/Slider-img3.jpg' %}" alt="bus3" />
            <p class="subSlide">Itinerarios</p>
          </a></li>
      </ul>
    </div>
  </div>
</div>
<article id="noticias" class="row">
  <h1>Últimos comunicados</h1>
  {% for noticia in Noticias %}
  <div class="noticia col-xs-11">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h2><i class="material-icons md-16">event_note</i>{{noticia.titulo}}</h2>
      </div>
      <div class="col-xs-12 col-md-6">
        <h6><i class="material-icons md-16">date_range</i>{{noticia.fecha_Publicacion.date}}</h6>
      </div>
    </div>
    <p>{{noticia.texto|urlizetrunc:30}}</p>
  </div>
  {% endfor %}
</article>
{% endblock %}