{% extends "sol/base.html" %}
{% load static %}

{% block content %}

{% if Avisos %}
<div class="alertaAviso">
  <div class="row">
    <div class="col-xs-12">
      <a href="#avisoPopup" class="open-popup-link">
        <p>Hay un aviso para el dia de hoy, clickeame para verlo.</p>
      </a>
    </div>
  </div>
</div>
<div class="aviso white-popup mfp-hide" id="avisoPopup">
  <div class="row">
    {% for aviso in Avisos %}
    <div class="col-xs-3 contSigno">
      <i class="material-icons md-48">error</i>
    </div>
    <div class="col-xs-9">
      <h1>Aviso del dia {{aviso.dia.date}}</h1>
      <h2>{{aviso.titulo}}</h2>
      <p>{{aviso.mensaje}}</p>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

<div class="row">
  <div class="row col-xs-12 col-md-3" id="contHistSlid">
    <div class="col-xs-12 noMarginTopBot">
      <div class="contHist">
        <div class="imgHistoria row">
          <div class="col-xs-12" id="NoMarginLogo">
            <p>1955 - 2020</p>
          </div>
          <div class="col-xs-12" id="NoMarginLogo">
            <h1 class="n1">6</h1>
            <h1 class="n2">5</h1>
          </div>
          <div class="col-xs-12" id="NoMarginLogo">
            <h2>AÑOS</h2>
          </div>
        </div>

      </div>
      <div class="centrar">
        <a class="btnA centrar" href="{% url 'historia' %}">Conócenos</a>
      </div>
    </div>
  </div>
  <div class="col-lg-1"></div>
  <div class="col-xs-12 col-md-9 col-lg-7">
    <div class="contGlide">
      <div class="cont_contGlide">
        <div class="glide">
          <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
              <li class="glide__slide"><a href="{% url 'terminales' %}">
                  <img src="{% static 'Images/Slider/Slider-img1.jpg' %}" alt="bus1" />
                  <p class="subSlide">Terminales</p>
                </a></li>
              <li class="glide__slide"><a href="{% url 'preguntas' %}">
                  <img src="{% static 'Images/Slider/Slider-img2.jpg' %}" alt="bus2" />
                  <p class="subSlide">Preguntas frecuentes</p>
                </a></li>
              <li class="glide__slide"><a href="{% url 'rutas' %}">
                  <img src="{% static 'Images/Slider/Slider-img3.jpg' %}" alt="bus3" />
                  <p class="subSlide">Itinerarios</p>
                </a></li>
                <li class="glide__slide"><a href="{% url 'tarifas' %}">
                  <img src="{% static 'Images/Slider/Slider-img4.png' %}" alt="bus3" />
                  <p class="subSlide">Tarifas</p>
                </a></li>
                <li class="glide__slide"><a href="{% url 'pertenencias' %}">
                  <img src="{% static 'Images/Slider/Slider-img5.png' %}" alt="bus3" />
                  <p class="subSlide">Pérdidas</p>
                </a></li>
            </ul>
          </div>
          <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
              <</button> <button class="glide__arrow glide__arrow--right" data-glide-dir=">">>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-1"></div>
</div>
<article id="tarifas">
  <h1 id="scrollTarifa">Consulta de Tarifas</h1>
  {% include 'include/busca_tarifa.html' %}
</article>
<article id="noticias" class="row">
  <h1>Últimos comunicados</h1>
  {% for noticia in Noticias %}
  <div class="col-xs-12">
    <div class="noticia">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h2><i class="material-icons md-16">event_note</i>{{noticia.titulo}}</h2>
        </div>
        <div class="col-xs-12 col-md-6">
          <h6><i class="material-icons md-16">date_range</i>{{noticia.fecha_Publicacion.date}}</h6>
        </div>
      </div>
      <p>{{noticia.texto|urlizetrunc:30}}</p>
      {% if noticia.imagen %}
      <div class="col-xs-12 imgNoticia">
        <img src="{{ noticia.imagen.url }}" alt="noticia">
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
  <div class="todasNoticias">
    <a class="btnA" href="{% url 'noticias' %}">Ver todas las noticias</a>
  </div>
</article>
<script>
  const Config = {
      type: "carousel",
      autoplay: 3000,
      hoverpause: true
  }
  new Glide('.glide', Config).mount()
</script>
{% endblock %}