{% extends "sol/base.html" %}
{% load static %}

{% block content %}
<article id="horarios">
    <h1>Itinerarios</h1>
    <div class="row">
        <div class="col-xs-12">
            <div class="rutas">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <h1>Sector Calera</h1>
                        <div class="horario">
                            <h3>Vía Aeropuerto</h3>
                            <h1>Horario</h1>
                            <h2>A las 5:45 parte el primer bus desde Playa Ancha con destino a La Calera</h2>
                            <div class="row">
                                <div class="col-xs-12 col-sm-10 col-md-8">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Evento</th>
                                                <th>Desde Valparaíso</th>
                                                <th>Desde La Calera</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td>Primer Bus</td>
                                                <td class="tdCenter">5:45</td>
                                                <td class="tdCenter">5:30</td>
                                            </tr>

                                            <tr>
                                                <td>Último Bus</td>
                                                <td class="tdCenter">22:30</td>
                                                <td class="tdCenter">21:40</td>
                                            </tr>

                                            <tr>
                                                <td>Frecuencia (minutos)</td>
                                                <td class="tdCenter">6</td>
                                                <td class="tdCenter">3</td>
                                            </tr>

                                            <tr>
                                                <td>Tiempo de Viaje (minutos)</td>
                                                <td class="tdCenter">110</td>
                                                <td class="tdCenter">110</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <h1>Itinerario</h1>
                            <img src="{% static 'Images/Rutas/valparaiso-calera.png' %}" alt="Itinerario Calera">
                        </div>
                        <div class="horario">
                            <h3>Vía Aeropuerto(Calera-Los Andes)</h3>
                            <h1>Horario</h1>
                            <h2>A las 7:40 parte el primer bus desde La Calera con destino a Los Andes</h2>
                            <div class="row">
                                <div class="col-xs-12 col-sm-10 col-md-8">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Evento</th>
                                                <th>Desde La Calera</th>
                                                <th>Desde Los Andes</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td>Primer Bus</td>
                                                <td class="tdCenter">7:40</td>
                                                <td class="tdCenter">7:00</td>
                                            </tr>

                                            <tr>
                                                <td>Último Bus</td>
                                                <td class="tdCenter">21:00</td>
                                                <td class="tdCenter">19:30</td>
                                            </tr>

                                            <tr>
                                                <td>Frecuencia (minutos)</td>
                                                <td class="tdCenter">60</td>
                                                <td class="tdCenter">60</td>
                                            </tr>

                                            <tr>
                                                <td>Tiempo de Viaje (minutos)</td>
                                                <td class="tdCenter">80</td>
                                                <td class="tdCenter">80</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <h1>Itinerario</h1>
                            <img src="{% static 'Images/Rutas/calera-andes.png' %}" alt="" srcset="">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <h1>Sector Costa</h1>
                        <div class="horario">
                            <h3>Vía Catapilco</h3>
                            <h1>Horario</h1>
                            <h2>A las 5:30 parte el primer bus desde Playa Ancha con destino a La Ligua por Catapilco.
                            </h2>
                            <div class="row">
                                <div class="col-xs-12 col-sm-10 col-md-8">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Evento</th>
                                                <th>Desde Valparaiso por Catapilco</th>
                                                <th>Desde La Ligua por Catapilco</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td>Primer Bus</td>
                                                <td class="tdCenter">5:30</td>
                                                <td class="tdCenter">5:40</td>
                                            </tr>

                                            <tr>
                                                <td>Último Bus</td>
                                                <td class="tdCenter">20:30</td>
                                                <td class="tdCenter">20:50</td>
                                            </tr>

                                            <tr>
                                                <td>Frecuencia (minutos)</td>
                                                <td class="tdCenter">30</td>
                                                <td class="tdCenter">30</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <h1>Itinerario</h1>
                            <img src="{% static 'Images/Rutas/ligua-catapilco.png' %}" alt="" srcset="">
                        </div>
                        <div class="horario">
                            <h3>Ligua por Papudo</h3>
                            <h1>Horario</h1>
                            <h2>A las 5:24 parte el primer bus desde Playa Ancha con destino a La Ligua por Papudo.</h2>
                            <div class="row">
                                <div class="col-xs-12 col-sm-10 col-md-8">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Evento</th>
                                                <th>Desde Valparaiso por Papudo</th>
                                                <th>Desde La Ligua por Papudo</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td>Primer Bus</td>
                                                <td class="tdCenter">5:24</td>
                                                <td class="tdCenter">6:00</td>
                                            </tr>

                                            <tr>
                                                <td>Último Bus</td>
                                                <td class="tdCenter">19:05</td>
                                                <td class="tdCenter">19:40</td>
                                            </tr>

                                            <tr>
                                                <td>Frecuencia (minutos)</td>
                                                <td class="tdCenter">30</td>
                                                <td class="tdCenter">30</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <h1>Itinerario</h1>
                            <img src="{% static 'Images/Rutas/ligua-papudo.png' %}" alt="" srcset="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
{% endblock %}