{% extends "sol/base.html" %}

{% block content %}
<article>
<h1 class="center">Recuperar Contraseña</h1>
<p>¿Ha olvidado su clave? Introduzca su dirección de correo a continuación y le enviaremos por correo electrónico las instrucciones para establecer una nueva.</p>
<form method="POST" class="formLogin">
    {% csrf_token %}
    <div class="row">
        <div class="col-xs-12 col-md-2">
            <p class="lblLogin">Email</p>
        </div>
        <div class="col-xs-12 col-md-10">{{ form.email }}</div>
    </div>
    <input type="submit" value="Enviar correo">
  </form>
</article>
{% endblock %}