{% extends "sol/base.html" %}
{% load static %}

{% block content %}

<article class="pertenencias">
    <h1>¿Se le extravió algo dentro de un bus?</h1>
    <p>Ingrese los datos para poder ubicar al conductor y realizar la consulta.</p>
    <form action="https://formspree.io/secretaria@soldelpacifico.cl" method="POST">
        <h4>Información Personal</h4>
        <div class="contFlex">
            <label for="NombreCompleto">Nombre Completo </label>
            <input type="text" id="NombreCompleto" placeholder="Javier Robles Cepeda" required="required">
        </div>
        <div class="contFlex">
            <label for="Correo">Correo </label>
            <input type="email" id="Correo" placeholder="JavierRoblesC@hotmail.com" required="required">
        </div>
        <div class="contFlex">
            <label for="Telefono">Teléfono </label>
            <input type="tel" id="Telefono" placeholder="569 12345678" required="required" minlength="8">
        </div>
        <div class="contFlex">
            <label for="NroBoleto">Número de Boleto </label>
            <input type="number" id="NroBoleto" placeholder="05715764">
        </div>
        <div class="contFlex">
            <label for="ValorBoleto">Valor Boleto ($)</label>
            <input type="number" id="ValorBoleto" placeholder="1700">
        </div>
        <h4>Detalles del extravío</h4>
        <div class="contFlex">
            <label for="LugarAbordo">Lugares de Viaje </label>
            <input type="text" id="LugarAbordo" placeholder="Lugar donde abordó el bus y dóande descendió">
        </div>
        <div class="contFlex">
            <label for="FechaHora">Fecha del Abordaje </label>
            <input type="datetime-local" id="FechaHora" required="required">
        </div>
        <div class="contFlex">
            <label for="LugarBus">Lugar en el bus </label>
            <input type="text" id="LugarBus" placeholder="Lugar en el bus donde extravió algo">
        </div>
        <div class="contFlex">
            <label for="DetallesObjeto">Detalles objeto </label>
            <textarea id="DetallesObjeto" placeholder="Descripción y contenido de lo extraviado..."></textarea>
        </div>
            <input type="submit" value="ENVIAR" id="btnPertenencias">
    </form>
</article>
{% endblock %}