{% extends 'sol/base.html' %}

{% block content %}
<div class="pregunta container">
    <div class="row">
        <div class="col-xs-12">
            <h2>{{ pregunta.pregunta }}</h2>
        </div>
        <div class="col-xs-12">
            <p class="col-xs-12">{{ pregunta.email}}</p>
        </div>

    </div>
</div>
<div class="newPregunta">
    <form method="POST" class="fornLogin">{% csrf_token %}
        <div class="container fullWidth">
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <p class="lblLogin">Correcciones ortograficas</p>
                </div>
                <div class="col-xs-12 col-md-9">{{ form.pregunta }}</div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <p class="lblLogin">Respuesta</p>
                </div>
                <div class="col-xs-12 col-md-9">{{ form.respuesta }}</div>
            </div>
        </div>
        <input type="submit" value="RESPONDER" />
    </form>
</div>
{% endblock %}