{% extends "sol/base.html" %}
{% load static %}

{% block content %}
<article class="preguntasFrec">

  <h1>Preguntas frecuentes</h1>

  <h2>¿A que hora pasa el ultimo bus a calera?</h2>
  <p>Puedes revisar todos los horarios en Tarifas/<a href="{% url 'tarifas' %}#horarios">Horarios.</a>.</p>

</article>

<article class="preguntasUser container">
  <h1>Preguntas de los usuarios</h1>
  {% if user.is_authenticated %}
  <div class="row">
    <div class="col-xs-8">
      <a href="{% url 'respPreguntas' %}">Ir a responder preguntas</a>
    </div>
    <div class="col-xs-4">
      <span>Ingresado como {{ user.get_username }}</span>
      <a href="{% url 'logout' %}"><i class="material-icons">person_outline</i>Desloguearme</a>
    </div>
  </div>
  {% else %}
  <div class="row">
    <div class="col-xs-8">
      <a href="{% url 'pregunta_new' %}"><i class="material-icons md-16">add</i>Crear nueva pregunta</a>
    </div>
    <div class="col-xs-4">
      <a href="{% url 'login' %}"><i class="material-icons md-16">person</i>Iniciar sesion</a>
    </div>
  </div>
  
  {% endif %}

  <!--
  <div>
    <img src="{% static 'Images/account.png' %}" class="login" alt="">
    {% if user.is_authenticated %}

    <div class="contDesp container" id="Login">
      <div class="row">
        <div>
        </div class="col-xs-12">
        <span>Iniciado como: </span><label for="user"> {{request.user.username}}</label>
      </div>
      <div class="row">
        <input class="col-xs-12" type="button" value="Salir">
      </div>

    </div>

    {% else %}
    <div class="contDesp container" id="Login">
      {% csrf_token %}
      <form action="" method="POST">
        <div class="row">
          <label class="col-xs-12" for="id_username">Usuario</label>
        </div>
        <div class="row">
          <input class="col-xs-12" type="text" name="username" id="id_username" placeholder="Usuario">
        </div>
        <div class="row">
          <label class="col-xs-12" for="id_password">Clave</label>
        </div>
        <div class="row">
          <input class="col-xs-12" type="password" name="password" id="id_password" placeholder="Clave">
        </div>
        <div class="row">
          <input class="col-xs-12" type="submit" value="Ingresar">
          <input type="hidden" name="next" value="{{ request.get_full_path }}" />
        </div>
      </form>
    </div>
    {% endif %}
  </div>
-->


  {% for Pregunta in Preguntas %}
  <div class="`pregimta col-xs-11">
    <p>Nombre: {{Pregunta.nombre}}</p>
    <h2><i class="material-icons md-16">textsms</i>{{Pregunta.pregunta}}</h2>
    <p><i class="material-icons md-16">insert_comment</i>{{Pregunta.respuesta|urlize}}</p>
  </div>
  {% endfor %}
</article>
{% endblock %}