{% extends "sol/base.html" %}
{% load static %}

{% block content %}

<article class="pertenencias">
    <h1>Reclamos</h1>
    <p>ANTE CUALQUIER RECLAMO O DENUNCIA TAMBIÉN PUEDE DIRIGIRSE A:
        SEREMITT REGIÓN DE VALPARAÍSO
        Dirección: Blanco 1131, Piso 4, Valparaíso</p>
    <form action="https://formspree.io/secretaria@soldelpacifico.cl" method="POST">
        <h4>Información del bus</h4>
        <div class="contFlex">
            <label for="Patente">Patente </label>
            <input type="text" id="Patente" placeholder="AA AA 11" required="required">
        </div>
        <div class="contFlex">
            <label for="NumeroBus">Número del bus </label>
            <input type="email" id="NumeroBus" placeholder="186" required="required">
        </div>
        <div class="contFlex">
            <label for="DescripcionBus">Descripción del bus </label>
            <input type="tel" id="DescripcionBus" placeholder="Bus rojo con un degradado a dorado" required="required" minlength="8">
        </div>
        <div class="contFlex">
            <label for="LugarViaje">Viaje realizado </label>
            <input type="number" id="LugarViaje" placeholder="Viña del mar - Quillota">
        </div>
        <h4>Reclamo</h4>
        <div class="contFlex">
            <label for="Reclamo">Reclamo </label>
            <textarea id="Reclamo" placeholder="Describa el reclamo..."></textarea>
        </div>
            <input type="submit" value="ENVIAR" id="btnPertenencias">
    </form>
</article>
{% endblock %}