{% extends 'sol/base.html' %}

{% block content %}
{% if messages %}
  <ul class="mensajes">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}{% endif %}
          {{ message }}
      </li>
      {% endfor %}
  </ul>
  {% endif %}
{% if Preguntas %}
<article class="preguntasUser container">
    {% for pregunta in Preguntas %}
    <div class="pregunta">
        <div class="row">
            <div class="col-xs-12">
                <h2><a href="{% url 'pregunta_responder' pk=pregunta.pk %}">{{ pregunta.pregunta }}</a></h2>
            </div>
            <div class="col-xs-12">
                <p>Preguntada por: {{ pregunta.email}}</p>
            </div>
            <div class="col-xs-12">
                <a href="{% url 'pregunta_eliminar' pk=pregunta.pk %}"><i class="material-icons md-16">delete</i> Eliminar pregunta</a>
            </div>
        </div>
    </div>
    {% endfor %}
</article>
{% else %}
<article>
    <h1>No hay preguntas sin responder</h1>
    <p class="error"><a href="{% url 'preguntas' %}">Volver</a></p>
</article>
{% endif %}
{% endblock %}