{% extends "sol/base.html" %}
{% load static %}

{% block content %}
<article>
    <h1>Rutas</h1>
    <div class="row">
        <div class="col-xs-12">
            <div class="rutas">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <img src="{% static 'Images/Rutas/Ligua por papudo.png' %}" alt="" srcset="">
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <img src="{% static 'Images/Rutas/Ligua por catapilco.png' %}" alt="" srcset="">
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <img src="{% static 'Images/Rutas/valparaiso calera.png' %}" alt="" srcset="">
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <img src="{% static 'Images/Rutas/calera los andes.png' %}" alt="" srcset="">
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <img src="{% static 'Images/Rutas/valparaiso horcon.png' %}" alt="" srcset="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
{% endblock %}