{% extends "sol/base.html" %}
{% load static %}

{% block content %}
<article id="tarifas">
    <div class="row btnSector">
        <div class="col-xs-6" id="btnCalera">
            <a>Sector calera</a>
        </div>
        <div class="col-xs-6" id="btnConcon">
            <a>Sector concon</a>
        </div>
    </div>
    <div class="calera">
        <h1>Tarifas Sector Calera.</h1>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <h2>Desde Valparaíso-Viña del mar hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>G. CARREÑO-G. NAVALES-LOS CORRALES</td>
                            <td>800</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>BASE AERONAVAL</td>
                            <td>900</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>COCA COLA-PARQUE LA VICTORIA</td>
                            <td>1100</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>PORTEZUELO-LOS AROMOS-TABOLANGO</td>
                            <td>1300</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>TERMOELÉCTRICA</td>
                            <td>1700</td>
                            <td>1000</td>
                        </tr>
                        <tr>
                            <td>SAN PEDRO-QUILLOTA-LA CALERA</td>
                            <td>1700</td>
                            <td>1000</td>
                        </tr>
                        <tr>
                            <td>HIJUELAS-OCOA</td>
                            <td>2600</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LAS VEGAS-LLAY - LLAY-CHAGRES-LO CAMPO</td>
                            <td>3100</td>
                            <td>2100</td>
                        </tr>
                        <tr>
                            <td>SAN ROQUE-PANQUEHUE</td>
                            <td>3400</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>SAN FELIPE</td>
                            <td>3600</td>
                            <td>2500</td>
                        </tr>
                        <tr>
                            <td>LOS ANDES</td>
                            <td>3800</td>
                            <td>2600</td>
                        </tr>
                        <tr>
                            <td>NOGALES-PUCALA-EL MELÓN</td>
                            <td>2300</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LA LIGUA</td>
                            <td>3500</td>
                            <td>2400</td>
                        </tr>
                        <tr>
                            <td>CABILDO</td>
                            <td>3700</td>
                            <td>2500</td>
                        </tr>
                        <tr>
                            <td>PETORCA</td>
                            <td>4300</td>
                            <td>2900</td>
                        </tr>
                        <tr>
                            <td>CHINCOLCO</td>
                            <td>4600</td>
                            <td>3200</td>
                        </tr>
                    </tbody>
                </table> <br>


                <h2>Desde Coca-Cola hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>LOS AROMOS-TABOLANGO</td>
                            <td>900</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>SAN PEDRO</td>
                            <td>900</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>QUILLOTA</td>
                            <td>1100</td>
                            <td>1000</td>
                        </tr>
                        <tr>
                            <td>LA CALERA</td>
                            <td>1300</td>
                            <td>1000</td>
                        </tr>
                    </tbody>
                </table> <br>

            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <h2>Desde La Calera hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>HIJUELAS-OCOA</td>
                            <td>1500</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LAS VEGAS</td>
                            <td>1700</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LLAY LLAY</td>
                            <td>1800</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CHAGRES</td>
                            <td>2000</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LO CAMPO-PANQUEHUE</td>
                            <td>2100</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>SAN ROQUE</td>
                            <td>2100</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>SAN FELIPE</td>
                            <td>2500</td>
                            <td>1400</td>
                        </tr>
                        <tr>
                            <td>LOS ANDES</td>
                            <td>2600</td>
                            <td>1500</td>
                        </tr>
                        <tr>
                            <td>NOGALES</td>
                            <td>1500</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>EL MELON</td>
                            <td>1500</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CATAPILCO</td>
                            <td>1800</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LA LIGUA</td>
                            <td>2100</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CABILDO</td>
                            <td>2400</td>
                            <td>1600</td>
                        </tr>
                        <tr>
                            <td>PETORCA</td>
                            <td>3400</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CHINCOLCO</td>
                            <td>3600</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>TERMOELÉCTRICA</td>
                            <td>1100</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>TABOLANGO</td>
                            <td>1100</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>PARQUE LA VICTORIA</td>
                            <td>1300</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>COCA COLA</td>
                            <td>1300</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>FUERTE AGUAYO-BASE AERONAVAL</td>
                            <td>1300</td>
                            <td>-</td>
                        </tr>

                    </tbody>
                </table> <br>

                <h2>Desde La Cuca hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>SAN PEDRO-LOS AROMOS-TABOLANGO</td>
                            <td>1300</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>QUILLOTA-LA CALERA</td>
                            <td>1700</td>
                            <td>1000</td>
                        </tr>
                    </tbody>
                </table> <br>



            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <h2>Desde La Cuca y Coca-Cola hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>HIJUELAS - OCOA</td>
                            <td>2300</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LAS VEGAS</td>
                            <td>2800</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LLAY LLAY-CHAGRES-LO CAMPO</td>
                            <td>3100</td>
                            <td>2100</td>
                        </tr>
                        <tr>
                            <td>SAN ROQUE-PANQUEHUE</td>
                            <td>3300</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>SAN FELIPE</td>
                            <Td>3400</Td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LOS ANDES</td>
                            <td>3600</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>NOGALES-EL MELON-PUCALAN</td>
                            <Td>2300</Td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LA LIGUA</td>
                            <td>3500</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CABILDO</td>
                            <td>3700</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>PETORCA</td>
                            <td>4300</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CHINCOLCO</td>
                            <td>4600</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table> <br>

                <h2>Desde Quillota hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>HIJUELAS-OCOA</td>
                            <td>1500</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LAS VEGAS</td>
                            <td>1900</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LLAY LLAY-CHAGRES</td>
                            <td>2100</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>SAN FELIPE</td>
                            <td>2600</td>
                            <td>1500</td>
                        </tr>
                        <tr>
                            <td>LOS ANDES</td>
                            <td>2700</td>
                            <td>1500</td>
                        </tr>
                        <tr>
                            <td>NOGALES-EL MELON</td>
                            <td>1700</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CATAPILCO</td>
                            <td>2100</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LA LIGUA</td>
                            <td>2400</td>
                            <td>1600</td>
                        </tr>
                        <tr>
                            <td>CABILDO</td>
                            <td>2600</td>
                            <td>1700</td>
                        </tr>
                        <tr>
                            <td>PETORCA</td>
                            <td>3400</td>
                            <td>2300</td>
                        </tr>
                        <tr>
                            <td>CHINCOLCO</td>
                            <td>3600</td>
                            <td>2500</td>
                        </tr>
                        <tr>
                            <td>TERMOELÉCTRICA</td>
                            <td>900</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>TABOLANGO</td>
                            <td>1100</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>PARQUE LA VICTORIA-COCA COLA</td>
                            <td>1100</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>FUERTE AGUAYO-BASE AERONAVAL</td>
                            <td>1100</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table> <br>

            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <h2>Desde Las Vegas y Chagres hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>SAN FELIPE</td>
                            <td>2100</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LOS ANDES</td>
                            <td>2300</td>
                            <td>-</td>
                    </tbody>
                </table> <br>

                <h2>Desde Nogales y El Melon hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>CATAPILCO</td>
                            <td>1500</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LA LIGUA</td>
                            <td>1900</td>
                            <td>600</td>
                        </tr>
                        <tr>
                            <td>CABILDO</td>
                            <td>2100</td>
                            <td>800</td>
                        </tr>
                        <tr>
                            <td>PETORCA</td>
                            <td>3400</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CHINCOLCO</td>
                            <td>3600</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table> <br>

                <h2>Desde San Felipe hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>LOS ANDES</td>
                            <td>1100</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table> <br>

                <h2>Desde La Ligua hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>CABILDO</td>
                            <td>1000</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>PETORCA</td>
                            <td>2100</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CHINCOLCO</td>
                            <td>2300</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table> <br>
            </div>
        </div>
    </div>
    <!-- ##################################################################################################### -->
    <!--                                        CON-CON                                                        -->
    <!-- ##################################################################################################### -->
    <div class="concon">
            <h1>Tarifas Sector Concon.</h1>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <h2>Desde Valparaíso-Viña del mar hasta..</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Destino</th>
                                <th>Normal</th>
                                <th>Estudiante</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>G. CARREÑO-G. NAVALES-LOS CORRALES</td>
                                <td>800</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>BASE AERONAVAL</td>
                                <td>900</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>COCA COLA-PARQUE LA VICTORIA</td>
                                <td>1100</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>PORTEZUELO-LOS AROMOS-TABOLANGO</td>
                                <td>1300</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>TERMOELÉCTRICA</td>
                                <td>1700</td>
                                <td>1000</td>
                            </tr>
                            <tr>
                                <td>SAN PEDRO-QUILLOTA-LA CALERA</td>
                                <td>1700</td>
                                <td>1000</td>
                            </tr>
                            <tr>
                                <td>HIJUELAS-OCOA</td>
                                <td>2600</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>LAS VEGAS-LLAY - LLAY-CHAGRES-LO CAMPO</td>
                                <td>3100</td>
                                <td>2100</td>
                            </tr>
                            <tr>
                                <td>SAN ROQUE-PANQUEHUE</td>
                                <td>3400</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>SAN FELIPE</td>
                                <td>3600</td>
                                <td>2500</td>
                            </tr>
                            <tr>
                                <td>LOS ANDES</td>
                                <td>3800</td>
                                <td>2600</td>
                            </tr>
                            <tr>
                                <td>NOGALES-PUCALA-EL MELÓN</td>
                                <td>2300</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>LA LIGUA</td>
                                <td>3500</td>
                                <td>2400</td>
                            </tr>
                            <tr>
                                <td>CABILDO</td>
                                <td>3700</td>
                                <td>2500</td>
                            </tr>
                            <tr>
                                <td>PETORCA</td>
                                <td>4300</td>
                                <td>2900</td>
                            </tr>
                            <tr>
                                <td>CHINCOLCO</td>
                                <td>4600</td>
                                <td>3200</td>
                            </tr>
                        </tbody>
                    </table> <br>
    
    
                    <h2>Desde Coca-Cola hasta..</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Destino</th>
                                <th>Normal</th>
                                <th>Estudiante</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>LOS AROMOS-TABOLANGO</td>
                                <td>900</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>SAN PEDRO</td>
                                <td>900</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>QUILLOTA</td>
                                <td>1100</td>
                                <td>1000</td>
                            </tr>
                            <tr>
                                <td>LA CALERA</td>
                                <td>1300</td>
                                <td>1000</td>
                            </tr>
                        </tbody>
                    </table> <br>
    
                </div>
    
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <h2>Desde La Calera hasta..</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Destino</th>
                                <th>Normal</th>
                                <th>Estudiante</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>HIJUELAS-OCOA</td>
                                <td>1500</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>LAS VEGAS</td>
                                <td>1700</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>LLAY LLAY</td>
                                <td>1800</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>CHAGRES</td>
                                <td>2000</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>LO CAMPO-PANQUEHUE</td>
                                <td>2100</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>SAN ROQUE</td>
                                <td>2100</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>SAN FELIPE</td>
                                <td>2500</td>
                                <td>1400</td>
                            </tr>
                            <tr>
                                <td>LOS ANDES</td>
                                <td>2600</td>
                                <td>1500</td>
                            </tr>
                            <tr>
                                <td>NOGALES</td>
                                <td>1500</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>EL MELON</td>
                                <td>1500</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>CATAPILCO</td>
                                <td>1800</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>LA LIGUA</td>
                                <td>2100</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>CABILDO</td>
                                <td>2400</td>
                                <td>1600</td>
                            </tr>
                            <tr>
                                <td>PETORCA</td>
                                <td>3400</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>CHINCOLCO</td>
                                <td>3600</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>TERMOELÉCTRICA</td>
                                <td>1100</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>TABOLANGO</td>
                                <td>1100</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>PARQUE LA VICTORIA</td>
                                <td>1300</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>COCA COLA</td>
                                <td>1300</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>FUERTE AGUAYO-BASE AERONAVAL</td>
                                <td>1300</td>
                                <td>-</td>
                            </tr>
    
                        </tbody>
                    </table> <br>
    
                    <h2>Desde La Cuca hasta..</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Destino</th>
                                <th>Normal</th>
                                <th>Estudiante</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>SAN PEDRO-LOS AROMOS-TABOLANGO</td>
                                <td>1300</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>QUILLOTA-LA CALERA</td>
                                <td>1700</td>
                                <td>1000</td>
                            </tr>
                        </tbody>
                    </table> <br>
    
    
    
                </div>
    
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <h2>Desde La Cuca y Coca-Cola hasta..</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Destino</th>
                                <th>Normal</th>
                                <th>Estudiante</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>HIJUELAS - OCOA</td>
                                <td>2300</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>LAS VEGAS</td>
                                <td>2800</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>LLAY LLAY-CHAGRES-LO CAMPO</td>
                                <td>3100</td>
                                <td>2100</td>
                            </tr>
                            <tr>
                                <td>SAN ROQUE-PANQUEHUE</td>
                                <td>3300</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>SAN FELIPE</td>
                                <Td>3400</Td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>LOS ANDES</td>
                                <td>3600</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>NOGALES-EL MELON-PUCALAN</td>
                                <Td>2300</Td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>LA LIGUA</td>
                                <td>3500</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>CABILDO</td>
                                <td>3700</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>PETORCA</td>
                                <td>4300</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>CHINCOLCO</td>
                                <td>4600</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table> <br>
    
                    <h2>Desde Quillota hasta..</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Destino</th>
                                <th>Normal</th>
                                <th>Estudiante</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>HIJUELAS-OCOA</td>
                                <td>1500</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>LAS VEGAS</td>
                                <td>1900</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>LLAY LLAY-CHAGRES</td>
                                <td>2100</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>SAN FELIPE</td>
                                <td>2600</td>
                                <td>1500</td>
                            </tr>
                            <tr>
                                <td>LOS ANDES</td>
                                <td>2700</td>
                                <td>1500</td>
                            </tr>
                            <tr>
                                <td>NOGALES-EL MELON</td>
                                <td>1700</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>CATAPILCO</td>
                                <td>2100</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>LA LIGUA</td>
                                <td>2400</td>
                                <td>1600</td>
                            </tr>
                            <tr>
                                <td>CABILDO</td>
                                <td>2600</td>
                                <td>1700</td>
                            </tr>
                            <tr>
                                <td>PETORCA</td>
                                <td>3400</td>
                                <td>2300</td>
                            </tr>
                            <tr>
                                <td>CHINCOLCO</td>
                                <td>3600</td>
                                <td>2500</td>
                            </tr>
                            <tr>
                                <td>TERMOELÉCTRICA</td>
                                <td>900</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>TABOLANGO</td>
                                <td>1100</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>PARQUE LA VICTORIA-COCA COLA</td>
                                <td>1100</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>FUERTE AGUAYO-BASE AERONAVAL</td>
                                <td>1100</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table> <br>
    
                </div>
    
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <h2>Desde Las Vegas y Chagres hasta..</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Destino</th>
                                <th>Normal</th>
                                <th>Estudiante</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>SAN FELIPE</td>
                                <td>2100</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>LOS ANDES</td>
                                <td>2300</td>
                                <td>-</td>
                        </tbody>
                    </table> <br>
    
                    <h2>Desde Nogales y El Melon hasta..</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Destino</th>
                                <th>Normal</th>
                                <th>Estudiante</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>CATAPILCO</td>
                                <td>1500</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>LA LIGUA</td>
                                <td>1900</td>
                                <td>600</td>
                            </tr>
                            <tr>
                                <td>CABILDO</td>
                                <td>2100</td>
                                <td>800</td>
                            </tr>
                            <tr>
                                <td>PETORCA</td>
                                <td>3400</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>CHINCOLCO</td>
                                <td>3600</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table> <br>
    
                    <h2>Desde San Felipe hasta..</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Destino</th>
                                <th>Normal</th>
                                <th>Estudiante</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>LOS ANDES</td>
                                <td>1100</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table> <br>
    
                    <h2>Desde La Ligua hasta..</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Destino</th>
                                <th>Normal</th>
                                <th>Estudiante</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>CABILDO</td>
                                <td>1000</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>PETORCA</td>
                                <td>2100</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>CHINCOLCO</td>
                                <td>2300</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table> <br>
                </div>
            </div>
        </div>
</article>

<article id="pases">
    <h1>Pases Sol del Pacifico</h1>
    <h2>Se obtienen directamente en la
        <a class="link"
            href="https://www.google.cl/maps/place/Galvarino+110,+Valpara%C3%ADso,+Regi%C3%B3n+de+Valpara%C3%ADso/@-33.0265012,-71.6461921,17z/data=!3m1!4b1!4m5!3m4!1s0x9689e6b80ed13925:0x1fa79fdd955b5ebe!8m2!3d-33.0265057!4d-71.6440034">Oficina
            Sol del Pacífico</a>
        cancelando directamente en caso que el pase lo requiera y tomandose la foto, horario de 0:30 a 13:30, confeccion
        y entrega inmediata.
    </h2>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="pase">
                <h5>Pase Trabajador</h5>
                <img src="{% static 'Images/Pases/PaseRojo.png' %}" alt="Pase Trabajador">
                <p><span class="negrita">Costo</span>: $12.000.</p>
                <p><span class="negrita">Vigencia</span>: 1 semestre (Enero-Julio o Julio-Diciembre)</p>
                <p><span class="negrita">Para</span>: Público</p>
                <p><span class="negrita">Requisitos</span>: Ninguno</p>
                <p><span class="negrita">Rebaja</span>: 20% de la tarifa.</p>
            </div>

        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="pase">
                <h5>Pase Tercera Edad</h5>
                <img src="{% static 'Images/Pases/PaseAzul.png' %}" alt="Pase Tercera Edad">
                <p><span class="negrita">Costo</span>: $0 por gestion municipal, $6000 gestion personal.</p>
                <p><span class="negrita">Vigencia</span>: 1 año</p>
                <p><span class="negrita">Para</span>: Tercera Edad</p>
                <p><span class="negrita">Requisitos</span>: Gestion municipal (Quintero, Puchuncavi u otra)</p>
                <p><span class="negrita">Rebaja</span>: 20% de la tarifa.</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="pase">
                <h5>Pase Social</h5>
                <img src="{% static 'Images/Pases/PaseAmarillo.png' %}" alt="Pase Social">
                <p><span class="negrita">Costo</span>: Desde $6000 hasta $0 dependiendo de la situacion.</p>
                <p><span class="negrita">Vigencia</span>: Desde 6 meses hasta 1 año.</p>
                <p><span class="negrita">Para</span>: Minusvalidos, Incapacitados y personas de escasos recursos.</p>
                <p><span class="negrita">Requisitos</span>: Evaluacion del Director Secretario, en casos documento de
                    incapacidad, informe social de la municipalidad u otros. </p>
                <p><span class="negrita">Rebaja</span>: Variable.</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="pase">
                <h5>Pase Libre</h5>
                <img src="{% static 'Images/Pases/PaseVerde.png' %}" alt="Pase Libre">
                <p><span class="negrita">Costo</span>: $0.</p>
                <p><span class="negrita">Vigencia</span>: 1 año</p>
                <p><span class="negrita">Para</span>: Empresarios, Agentes PDI, Funcionarios Sol del Pacifico e
                    Inspectores</p>
                <p><span class="negrita">Rebaja</span>: 100% de la tarifa.</p>
            </div>
        </div>
    </div>
</article>

<article id="horarios">
    <div class="calera">
        <h1>Horarios sector Calera</h1>
        <h2>A las 5:45 parte el primer bus desde Playa Ancha con destino a Los Andes</h2>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <table>
                    <thead>
                        <tr>
                            <th>Evento</th>
                            <th>Valparaíso</th>
                            <th>La Calera</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Primer Bus</td>
                            <td>5:45</td>
                            <td>5:30</td>
                        </tr>

                        <tr>
                            <td>Último Bus</td>
                            <td>22:30</td>
                            <td>21:40</td>
                        </tr>

                        <tr>
                            <td>Frecuencia (minutos)</td>
                            <td>6</td>
                            <td>3</td>
                        </tr>

                        <tr>
                            <td>Tiempo de Viaje (minutos)</td>
                            <td>110</td>
                            <td>110</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <table>
                    <thead>
                        <tr>
                            <th>Evento</th>
                            <th>La Calera</th>
                            <th>Los Andes</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Primer Bus</td>
                            <td>7:40</td>
                            <td>7:00</td>
                        </tr>

                        <tr>
                            <td>Último Bus</td>
                            <td>21:00</td>
                            <td>20:30</td>
                        </tr>

                        <tr>
                            <td>Frecuencia (minutos)</td>
                            <td>60</td>
                            <td>60</td>
                        </tr>

                        <tr>
                            <td>Tiempo de Viaje (minutos)</td>
                            <td>80</td>
                            <td>80</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="concon">
            <h1>Horarios sector Concon</h1>
            <h2>A las 5:45 parte el primer bus desde Playa Ancha con destino a Los Andes</h2>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <table>
                        <thead>
                            <tr>
                                <th>Evento</th>
                                <th>Valparaíso</th>
                                <th>La Calera</th>
                            </tr>
                        </thead>
    
                        <tbody>
                            <tr>
                                <td>Primer Bus</td>
                                <td>5:45</td>
                                <td>5:30</td>
                            </tr>
    
                            <tr>
                                <td>Último Bus</td>
                                <td>22:30</td>
                                <td>21:40</td>
                            </tr>
    
                            <tr>
                                <td>Frecuencia (minutos)</td>
                                <td>6</td>
                                <td>3</td>
                            </tr>
    
                            <tr>
                                <td>Tiempo de Viaje (minutos)</td>
                                <td>110</td>
                                <td>110</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
    
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <table>
                        <thead>
                            <tr>
                                <th>Evento</th>
                                <th>La Calera</th>
                                <th>Los Andes</th>
                            </tr>
                        </thead>
    
                        <tbody>
                            <tr>
                                <td>Primer Bus</td>
                                <td>7:40</td>
                                <td>7:00</td>
                            </tr>
    
                            <tr>
                                <td>Último Bus</td>
                                <td>21:00</td>
                                <td>20:30</td>
                            </tr>
    
                            <tr>
                                <td>Frecuencia (minutos)</td>
                                <td>60</td>
                                <td>60</td>
                            </tr>
    
                            <tr>
                                <td>Tiempo de Viaje (minutos)</td>
                                <td>80</td>
                                <td>80</td>
                            </tr>
                        </tbody>
                    </table>
    
                </div>
            </div>
        </div>
</article>
{% endblock %}