{% extends "sol/base.html" %}
{% load static %}

{% block content %}
<article id="tarifas">
    <h1>Buscador de Tarifas</h1>
    {% include 'include/busca_tarifa.html' %}
    <h1>Tarifario</h1>
    <div class="row btnSector">
        <div class="col-xs-6">
            <input id="btnCalera" type="radio" name="zona" value="calera" checked="checked" />
            <label class="radioZona zCalera" for="btnCalera">
                <img sizes="(max-width: 1400px) 100vw, 1400px" srcset="
                {% static 'Images/Tarifas/calera/calera_tl2acj_c_scale,w_200.png' %} 200w,
                {% static 'Images/Tarifas/calera/calera_tl2acj_c_scale,w_700.png' %} 700w,
                {% static 'Images/Tarifas/calera/calera_tl2acj_c_scale,w_1013.png' %} 1013w,
                {% static 'Images/Tarifas/calera/calera_tl2acj_c_scale,w_1259.png' %} 1259w,
                {% static 'Images/Tarifas/calera/calera_tl2acj_c_scale,w_1400.png' %} 1400w"
                    src="{% static 'Images/Tarifas/calera/calera_tl2acj_c_scale,w_1400.png' %}" alt="Sector Calera">
            </label>
        </div>
        <div class="col-xs-6">
            <input id="btnCosta" type="radio" name="zona" value="costa" />
            <label class="radioZona zCosta" for="btnCosta">
                <img sizes="(max-width: 1280px) 100vw, 1280px" srcset="
                {% static 'Images/Tarifas/costa/costa_jfmuxx_c_scale,w_200.png' %} 200w,
                {% static 'Images/Tarifas/costa/costa_jfmuxx_c_scale,w_638.png' %} 638w,
                {% static 'Images/Tarifas/costa/costa_jfmuxx_c_scale,w_919.png' %} 919w,
                {% static 'Images/Tarifas/costa/costa_jfmuxx_c_scale,w_1143.png' %} 1143w,
                {% static 'Images/Tarifas/costa/costa_jfmuxx_c_scale,w_1280.png' %} 1280w"
                    src="{% static 'Images/Tarifas/costa/costa_jfmuxx_c_scale,w_1280.png' %}" alt="Sector Costa">
            </label>
        </div>
    </div>
    <div class="calera">
        <h1 id="Calera">Tarifas Sector Calera.</h1>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <h2>Desde Valparaíso-Viña del mar hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>G. CARREÑO-G. NAVALES-LOS CORRALES</td>
                            <td>800</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>BASE AERONAVAL</td>
                            <td>900</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>COCA COLA-PARQUE LA VICTORIA</td>
                            <td>1100</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>PORTEZUELO-LOS AROMOS-TABOLANGO</td>
                            <td>1300</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>TERMOELÉCTRICA</td>
                            <td>1700</td>
                            <td>1000</td>
                        </tr>
                        <tr>
                            <td>SAN PEDRO-QUILLOTA-LA CALERA</td>
                            <td>1700</td>
                            <td>1000</td>
                        </tr>
                        <tr>
                            <td>HIJUELAS-OCOA</td>
                            <td>2600</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LAS VEGAS-LLAY - LLAY-CHAGRES-LO CAMPO</td>
                            <td>3100</td>
                            <td>2100</td>
                        </tr>
                        <tr>
                            <td>SAN ROQUE-PANQUEHUE</td>
                            <td>3400</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>SAN FELIPE</td>
                            <td>3600</td>
                            <td>2500</td>
                        </tr>
                        <tr>
                            <td>LOS ANDES</td>
                            <td>3800</td>
                            <td>2600</td>
                        </tr>
                        <tr>
                            <td>NOGALES-PUCALA-EL MELÓN</td>
                            <td>2300</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LA LIGUA</td>
                            <td>3500</td>
                            <td>2400</td>
                        </tr>
                        <tr>
                            <td>CABILDO</td>
                            <td>3700</td>
                            <td>2500</td>
                        </tr>
                        <tr>
                            <td>PETORCA</td>
                            <td>4300</td>
                            <td>2900</td>
                        </tr>
                        <tr>
                            <td>CHINCOLCO</td>
                            <td>4600</td>
                            <td>3200</td>
                        </tr>
                    </tbody>
                </table>


                <h2>Desde Coca-Cola hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>LOS AROMOS-TABOLANGO</td>
                            <td>900</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>SAN PEDRO</td>
                            <td>900</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>QUILLOTA</td>
                            <td>1100</td>
                            <td>1000</td>
                        </tr>
                        <tr>
                            <td>LA CALERA</td>
                            <td>1300</td>
                            <td>1000</td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <h2>Desde La Calera hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>HIJUELAS-OCOA</td>
                            <td>1500</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LAS VEGAS</td>
                            <td>1700</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LLAY LLAY</td>
                            <td>1800</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CHAGRES</td>
                            <td>2000</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LO CAMPO-PANQUEHUE</td>
                            <td>2100</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>SAN ROQUE</td>
                            <td>2100</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>SAN FELIPE</td>
                            <td>2500</td>
                            <td>1400</td>
                        </tr>
                        <tr>
                            <td>LOS ANDES</td>
                            <td>2600</td>
                            <td>1500</td>
                        </tr>
                        <tr>
                            <td>NOGALES</td>
                            <td>1500</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>EL MELON</td>
                            <td>1500</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CATAPILCO</td>
                            <td>1800</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LA LIGUA</td>
                            <td>2100</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CABILDO</td>
                            <td>2400</td>
                            <td>1600</td>
                        </tr>
                        <tr>
                            <td>PETORCA</td>
                            <td>3400</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CHINCOLCO</td>
                            <td>3600</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>TERMOELÉCTRICA</td>
                            <td>1100</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>TABOLANGO</td>
                            <td>1100</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>PARQUE LA VICTORIA</td>
                            <td>1300</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>COCA COLA</td>
                            <td>1300</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>FUERTE AGUAYO-BASE AERONAVAL</td>
                            <td>1300</td>
                            <td>-</td>
                        </tr>

                    </tbody>
                </table>

                <h2>Desde La Cuca hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>SAN PEDRO-LOS AROMOS-TABOLANGO</td>
                            <td>1300</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>QUILLOTA-LA CALERA</td>
                            <td>1700</td>
                            <td>1000</td>
                        </tr>
                    </tbody>
                </table>



            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <h2>Desde La Cuca y Coca-Cola hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>HIJUELAS - OCOA</td>
                            <td>2300</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LAS VEGAS</td>
                            <td>2800</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LLAY LLAY-CHAGRES-LO CAMPO</td>
                            <td>3100</td>
                            <td>2100</td>
                        </tr>
                        <tr>
                            <td>SAN ROQUE-PANQUEHUE</td>
                            <td>3300</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>SAN FELIPE</td>
                            <Td>3400</Td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LOS ANDES</td>
                            <td>3600</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>NOGALES-EL MELON-PUCALAN</td>
                            <Td>2300</Td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LA LIGUA</td>
                            <td>3500</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CABILDO</td>
                            <td>3700</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>PETORCA</td>
                            <td>4300</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CHINCOLCO</td>
                            <td>4600</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>

                <h2>Desde Quillota hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>HIJUELAS-OCOA</td>
                            <td>1500</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LAS VEGAS</td>
                            <td>1900</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LLAY LLAY-CHAGRES</td>
                            <td>2100</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>SAN FELIPE</td>
                            <td>2600</td>
                            <td>1500</td>
                        </tr>
                        <tr>
                            <td>LOS ANDES</td>
                            <td>2700</td>
                            <td>1500</td>
                        </tr>
                        <tr>
                            <td>NOGALES-EL MELON</td>
                            <td>1700</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CATAPILCO</td>
                            <td>2100</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LA LIGUA</td>
                            <td>2400</td>
                            <td>1600</td>
                        </tr>
                        <tr>
                            <td>CABILDO</td>
                            <td>2600</td>
                            <td>1700</td>
                        </tr>
                        <tr>
                            <td>PETORCA</td>
                            <td>3400</td>
                            <td>2300</td>
                        </tr>
                        <tr>
                            <td>CHINCOLCO</td>
                            <td>3600</td>
                            <td>2500</td>
                        </tr>
                        <tr>
                            <td>TERMOELÉCTRICA</td>
                            <td>900</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>TABOLANGO</td>
                            <td>1100</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>PARQUE LA VICTORIA-COCA COLA</td>
                            <td>1100</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>FUERTE AGUAYO-BASE AERONAVAL</td>
                            <td>1100</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <h2>Desde Las Vegas y Chagres hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>SAN FELIPE</td>
                            <td>2100</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LOS ANDES</td>
                            <td>2300</td>
                            <td>-</td>
                    </tbody>
                </table>

                <h2>Desde Nogales y El Melon hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>CATAPILCO</td>
                            <td>1500</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LA LIGUA</td>
                            <td>1900</td>
                            <td>600</td>
                        </tr>
                        <tr>
                            <td>CABILDO</td>
                            <td>2100</td>
                            <td>800</td>
                        </tr>
                        <tr>
                            <td>PETORCA</td>
                            <td>3400</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CHINCOLCO</td>
                            <td>3600</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>

                <h2>Desde San Felipe hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>LOS ANDES</td>
                            <td>1100</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>

                <h2>Desde La Ligua hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>CABILDO</td>
                            <td>1000</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>PETORCA</td>
                            <td>2100</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CHINCOLCO</td>
                            <td>2300</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- ##################################################################################################### -->
    <!--                                        CON-CON                                                        -->
    <!-- ##################################################################################################### -->
    <div class="concon">
        <h1 id="Costa">Tarifas Sector Costa.</h1>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <h2>Desde Valparaíso-Viña del mar hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>G. CARREÑO-G. NAVALES-LOS CORRALES</td>
                            <td>800</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CONCÓN</td>
                            <td>800</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CHAMPIÑONES</td>
                            <td>900</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>STA LUISA-PTA PIEDRA-STA ADELA</td>
                            <td>1100</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>STA JULIA-MANTAGUA</td>
                            <td>1100</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LAS PALMAS</td>
                            <td>1300</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>VENTANA-CHOCOTA</td>
                            <td>1700</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CAMPICHE-PUCHUNCAVI-RUNGE</td>
                            <td>1800</td>
                            <td>900</td>
                        </tr>
                        <tr>
                            <td>MAITENCILLO-LAGUNA</td>
                            <td>1900</td>
                            <td>1200</td>
                        </tr>
                        <tr>
                            <td>CACHAGUA</td>
                            <td>2200</td>
                            <td>1500</td>
                        </tr>
                        <tr>
                            <td>ZAPALLAR</td>
                            <td>2400</td>
                            <td>1600</td>
                        </tr>
                        <tr>
                            <td>PAPUDO</td>
                            <td>2700</td>
                            <td>1800</td>
                        </tr>
                        <tr>
                            <td>PULLALLY</td>
                            <td>3000</td>
                            <td>1900</td>
                        </tr>
                        <tr>
                            <td>LA LIGUA</td>
                            <td>3500</td>
                            <td>2400</td>
                        </tr>
                        <tr>
                            <td>CABILDO</td>
                            <td>3700</td>
                            <td>2500</td>
                        </tr>
                    </tbody>
                </table>


                <h2>Desde Con-Con hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>G. CARREÑO-CHAMPIÑONES-STA LUISA</td>
                            <td>500</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>PTA DE PIEDRA-STA ADELA-STA JULIA-MANTAGUA</td>
                            <td>700</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LAS PALMAS</td>
                            <td>900</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>VENTANA</td>
                            <td>1100</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CAMPICHE</td>
                            <td>1200</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>PUCHUNCAVI-RUNGE</td>
                            <td>1300</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>MAITENCILLO-LA LAGUNA</td>
                            <td>1600</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CACHAGUA</td>
                            <td>1800</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>ZAPALLAR</td>
                            <td>2300</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>PAPUDO</td>
                            <td>2400</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LA LIGUA</td>
                            <td>2700</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CABILDO</td>
                            <td>3200</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

                <h2>Desde Ventana hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>CAMPICHE-CHOCOTA</td>
                            <td>500</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>RUNGE-PUCHUNCAVI</td>
                            <td>800</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>MAITENCILLO</td>
                            <td>900</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CACHAGUA</td>
                            <td>1200</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>ZAPALLAR</td>
                            <td>1400</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>PAPUDO</td>
                            <td>1500</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>PULLALLY</td>
                            <td>1600</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>VIÑA</td>
                            <td>1700</td>
                            <td>500</td>
                        </tr>
                        <tr>
                            <td>VALPARAISO</td>
                            <td>1700</td>
                            <td>800</td>
                        </tr>
                        <tr>
                            <td>LIGUA</td>
                            <td>1900</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CABILDO</td>
                            <td>2100</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>

                <h2>Desde Puchuncavi hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>LOCAL</td>
                            <td>500</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>RUNGE</td>
                            <td>600</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>MAITENCILLO</td>
                            <td>800</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CACHAGUA</td>
                            <td>1100</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>ZAPALLAR</td>
                            <Td>1200</Td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>PAPUDO</td>
                            <td>1400</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>PULLALLI</td>
                            <Td>1500</Td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LA LIGUA</td>
                            <td>1700</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CABILDO</td>
                            <td>2000</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>MARBELLA-A. BLANCAS</td>
                            <td>800</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>

                <h2>Desde Runge hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>MARBELLA</td>
                            <td>600</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>MAITENCILLO-LAGUNA</td>
                            <td>700</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CACHAGUA</td>
                            <td>800</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>ZAPALLAR</td>
                            <td>900</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>PAPUDO</td>
                            <td>1200</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LA LIGUA</td>
                            <td>1500</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CABILDO</td>
                            <td>1800</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <h2>Desde Maitencillo hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>LOCAL</td>
                            <td>500</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CACHAGUA</td>
                            <td>700</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>ZAPALLAR</td>
                            <td>800</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>PAPUDO</td>
                            <td>900</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>PULLALLI</td>
                            <td>1100</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LA LIGUA</td>
                            <td>1100</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CABILDO</td>
                            <td>1600</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>

                <h2>Desde Cachagua hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ZAPALLAR</td>
                            <td>600</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>PAPUDO</td>
                            <td>800</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>PULLALLY-QUINQUIMO-LA LIGUA</td>
                            <td>1000</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CABILDO</td>
                            <td>1500</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>

                <h2>Desde Zapallar hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>PAPUDO</td>
                            <td>700</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>PULLALLY-QUINQUIMO-PLACILLA</td>
                            <td>900</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LA LIGUA</td>
                            <td>1000</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CABILDO</td>
                            <td>1400</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>

                <h2>Desde Papudo hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>LOCAL</td>
                            <td>500</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>PULLALLY-PLACILLA</td>
                            <td>800</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LA LIGUA</td>
                            <td>900</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CABILDO</td>
                            <td>1300</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>

                <h2>Desde Pullally hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>PLACILLA</td>
                            <td>600</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LA LIGUA</td>
                            <td>700</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CABILDO</td>
                            <td>1200</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <h2>Desde La Ligua hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>CABILDO</td>
                            <td>1000</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>

                <h2>Desde Santa lucia, Punta Piedra, Santa adela, Mantagua hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>VENTANA</td>
                            <td>900</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CAMPICHE</td>
                            <td>1000</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>PUCHUNCAVI-RUNGE</td>
                            <td>1200</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LAGUNA</td>
                            <td>1300</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CACHAGUA</td>
                            <td>1500</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>ZAPALLAR</td>
                            <td>1600</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>PAPUDO</td>
                            <td>1800</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>LA LIGUA</td>
                            <td>2000</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CABILDO</td>
                            <td>2300</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>

                <h2>Desde Santa Julia hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>STA LUISA</td>
                            <td>700</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>

                <h2>Desde Peñablanca, Belloto y Quilpué hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ACHUPALLAS-CONCÓN</td>
                            <td>800</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>INTERMEDIOS</td>
                            <td>1200</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>VENTANA</td>
                            <td>1800</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <h1>Via Catapilco</h1>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <h2>Desde Valparaíso-Viña hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>PUCHUNCAVI</td>
                            <td>1800</td>
                            <td>900</td>
                        </tr>
                        <tr>
                            <td>CATAPILCO</td>
                            <td>2700</td>
                            <td>1800</td>
                        </tr>
                    </tbody>
                </table>

                <h2>Desde Con-Cón hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>CATAPILCO</td>
                            <td>2200</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <h2>Desde Cruce Quintero hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>VENTANA</td>
                            <td>800</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>PUCHUNCAVI</td>
                            <td>900</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>RUNGE</td>
                            <td>1000</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>MARBELLA-LAGUNA</td>
                            <td>1200</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CATAPILCO</td>
                            <td>1600</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CABILDO</td>
                            <td>2100</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <h2>Desde Ventana hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>MARBELLA-LAGUNA</td>
                            <td>900</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CATAPILCO</td>
                            <td>1400</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>

                <h2>Desde Puchuncavi hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>MARBELLA-LAGUNA</td>
                            <td>800</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CATAPILCO</td>
                            <td>1300</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <h2>Desde Runge hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>CATAPILCO</td>
                            <td>1200</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>

                <h2>Desde Maitencillo hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>CATAPILCO</td>
                            <td>900</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CRUCE CARRETERA</td>
                            <td>1000</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>

                <h2>Desde Catapilco hasta..</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Normal</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>LA LIGUA</td>
                            <td>900</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CABILDO</td>
                            <td>1300</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</article>

{% endblock %}