{% extends "sol/base.html" %}

{% block content %}
<article class="transrural">
    <h1 class="center">Terminales</h1>
    <div class="terminales">
        <div class="col-xs-12">
            <h3 class="center">Telefonos Oficina Central </h3>
            <p class="center"><span>32 279 5700 - 32 279 5710</span></p>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3>Telefonos Terminales</h3>
                <p class="center">Playa Ancha: <span> 93311853</span></p>
                <p class="center">Calera: <span> 96384965</span></p>
                <p class="center">La Ligua: <span> 53348537</span></p>
                <p class="center">Los Andes: <span> 68399836</span></p>
                <p class="center">San Felipe: <span> 85273097</span></p>
                <p class="center">Troncos Viejos: <span> 294 9260</span></p>
            </div>
        </div>
    </div>
</article>
{% endblock %}