{% extends "sol/base.html" %}
{% load static %}

{% block content %}
<article class="transrural">
    <h1 class="center">Viajes Especiales</h1>
    <div class="terminales">
        <div class="col-xs-12 imgViaje">
            <img src="{% static 'Images/bus.jpg' %}" alt="bus" />
        </div>
        <div class="col-xs-12 txtViajes">
            <p>Sol del Pacifico realiza viajes personalizados a todo Chile, para contratar nuestros servicios solo debe contactarse
                con nosotros para planificar el viaje. Puede contactarnos mediante cualquiera de los medios que se muestran aqui abajo.
                <i class="material-icons">arrow_downward</i>
            </p>
        </div>
    </div>
</article>
{% endblock %}